[Desktop Entry]
Encoding=UTF-8
Exec=khelpcenter
Icon=khelpcenter
DocPath=khelpcenter/index.html
Type=Application
Terminal=false
Name=Help
Name[af]=Hulp
Name[be]=Дапамога
Name[br]=Skoazell
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[csb]=Pòmòc
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=کمک
Name[fi]=Ohje
Name[fr]=Aide
Name[ga]=Cabhair
Name[gl]=Axuda
Name[he]=עזרה
Name[hr]=Pomoć
Name[hu]=Segítség
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ka]=დახმარება
Name[kk]=Анықтама
Name[km]=ជំនួយ
Name[ko]=도움말
Name[lt]=Pagalba
Name[lv]=Palīdzība
Name[mk]=Помош
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[nds]=Hülp
Name[ne]=मद्दत
Name[nl]=Documentatie
Name[nn]=Hjelp
Name[pa]=ਸਹਾਇਤਾ
Name[pl]=Pomoc
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[se]=Veahkki
Name[sl]=Pomoč
Name[sr]=Помоћ
Name[sr@latin]=Pomoć
Name[sv]=Hjälp
Name[ta]=உதவி
Name[te]=సహాయం
Name[tr]=Yardım
Name[uk]=Довідка
Name[uz]=Ёрдам
Name[wa]=Aidance
Name[x-test]=xxHelpxx
Name[xh]=Uncedo
Name[zh_TW]=求助
Categories=Qt;KDE;Core;
OnlyShowIn=KDE;
