[Desktop Entry]
Type=Application
Exec=kcmshell4 kcmhelpcenter
Icon=help

X-KDE-SubstituteUID=true
X-KDE-Library=helpcenter
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-ParentApp=kcontrol

Name=Help Index
Name[af]=Hulp Indeks
Name[ar]=فهرس المساعدة
Name[ast]=Índiz d'ayuda
Name[be]=Індэкс дапамогі
Name[be@latin]=Źmiest dapamohi
Name[bg]=Помощна информация
Name[bn]=সাহায্য সূচি
Name[bn_IN]=সহায়িকার ইন্ডেক্স
Name[br]=Meneger ar skoazell
Name[bs]=Indeks pomoći
Name[ca]=Índex d'ajuda
Name[ca@valencia]=Índex d'ajuda
Name[cs]=Rejstřík nápovědy
Name[csb]=Indeks pòmòcë
Name[cy]=Mynegai Cymorth
Name[da]=Hjælpeindeks
Name[de]=Hilfeindex
Name[el]=Ευρετήριο βοήθειας
Name[en_GB]=Help Index
Name[eo]=Helpa indekso
Name[es]=Índice de ayuda
Name[et]=Abifailide indeks
Name[eu]=Laguntza indizea
Name[fa]=نمایه کمک
Name[fi]=Opasteen hakemisto
Name[fr]=Index d'aide
Name[fy]=Help-yndeks
Name[ga]=Innéacs na Cabhrach
Name[gl]=Índice da axuda
Name[gu]=મદદ અનુક્રમણિકા
Name[he]=אינדקס עזרה
Name[hi]=मदद सूची
Name[hne]=मदद सूची
Name[hr]=Indeks pomoći
Name[hsb]=Indeks za pomoc
Name[hu]=Dokumentációkeresési index
Name[ia]=Indice de adjuta
Name[id]=Indeks Bantuan
Name[is]=Hjálparyfirlit
Name[it]=Indice della guida
Name[ja]=ヘルプインデックス
Name[ka]=დახმარების ინდექსი
Name[kk]=Анықтама индексі
Name[km]=លិបិក្រម​ជំនួយ
Name[kn]=ಸಹಾಯ ಅನುಕ್ರಮ (ಇಂಡೆಕ್ಸ್) 
Name[ko]=도움말 찾아보기
Name[ku]=Pêrista Alîkariyê
Name[lt]=Pagalbos rodyklė
Name[lv]=Palīdzības indekss
Name[mai]=मद्दति सूची
Name[mk]=Индекс за помош
Name[ml]=സഹായത്തിനുളള സൂചിക
Name[mr]=मदत सूची
Name[ms]=Indeks Bantuan
Name[nb]=Hjelpindeks
Name[nds]=Hülpindex
Name[ne]=मद्दत अनुक्रमणिका
Name[nl]=Documentatie-index
Name[nn]=Hjelpindeks
Name[or]=ସହାୟତା ଅନୁକ୍ରମଣିକା
Name[pa]=ਮੱਦਦ ਇੰਡੈਕਸ
Name[pl]=Indeks pomocy
Name[pt]=Índice da Ajuda
Name[pt_BR]=Índice da ajuda
Name[ro]=Index ajutor
Name[ru]=Индекс справки
Name[se]=Veahkkeindeaksa
Name[si]=උදව් පටුන
Name[sk]=Index pomocníka
Name[sl]=Seznam pomoči
Name[sr]=Индекс помоћи
Name[sr@ijekavian]=Индекс помоћи
Name[sr@ijekavianlatin]=Indeks pomoći
Name[sr@latin]=Indeks pomoći
Name[sv]=Hjälpindex
Name[ta]=உதவி பொருளடக்கம்
Name[te]=సహాయ సూచిక
Name[tg]=Индекси роҳнамо
Name[th]=ดัชนีเอกสารช่วยเหลือ
Name[tr]=Yardım İçeriği
Name[ug]=ياردەم ئىندېكسى
Name[uk]=Індекс довідки
Name[uz]=Yordam indeksi
Name[uz@cyrillic]=Ёрдам индекси
Name[vi]=Chỉ mục Trợ giúp
Name[wa]=Indecse di l' aidance
Name[xh]=Uncedo Lwesalathisi
Name[x-test]=xxHelp Indexxx
Name[zh_CN]=帮助索引
Name[zh_TW]=說明索引

Comment=Help center search index configuration and generation
Comment[af]=Hulp sentrum soektog indeks opstelling en genereering
Comment[ar]=توليد وإعداد فهرس بحث مركز المساعدة
Comment[ast]=Configuración y xeneración del índiz de gueta del centru d'ayuda
Comment[be]=Настаўленне і стварэнне індэксу для пошуку ў дакументацыі
Comment[be@latin]=Naładžvańnie j stvareńnie źmiestu dla pošuku ŭ centry dapamohi
Comment[bg]=Създаване на индекс за ускоряване на търсенето в помощната информация
Comment[bn]=সহায়িকাসন্ধানসূচি কনফিগারেশন এবং সৃষ্টি
Comment[bn_IN]=সহায়িকা অনুসন্ধানের ইন্ডেক্স কনফিগারেশন ও নির্মাণ প্রণালী
Comment[bs]=Postava i stvaranje indeksa za pretragu Centra za pomoć
Comment[ca]=Configuració i generació de l'índex de cerca per al Centre d'ajuda
Comment[ca@valencia]=Configuració i generació de l'índex de cerca per al Centre d'ajuda
Comment[cs]=Generování a konfigurace rejstříku nápovědy
Comment[csb]=Kònfigùracëje ë generowanié indeksu pòmòcë
Comment[cy]=Ffurfweddu a chynhyrchu mynegai chwilio y Ganolfan Cymorth
Comment[da]=Hjælpecenterets indstilling og generering af søgeindeks
Comment[de]=Stichwortverzeichnis für das Hilfezentrum einrichten und erstellen
Comment[el]=Ρύθμιση και δημιουργία του ευρετηρίου αναζήτησης του Κέντρου βοήθειας
Comment[en_GB]=Help centre search index configuration and generation
Comment[eo]=Agordo kaj fabriko de la helpocentra serĉindekso
Comment[es]=Configuración y generación del índice de búsqueda del centro de ayuda
Comment[et]=Abifailide otsingu indeksi loomine ja seadistamine
Comment[eu]=Laguntza guneko bilaketa indizearen konfigurazio eta sorkuntza
Comment[fa]=تولید و پیکربندی نمایه جستجوی مرکز کمک
Comment[fi]=Opastekeskuksen hakuindeksin asetukset ja tuottaminen
Comment[fr]=Configuration et génération de l'index de recherche du centre d'aide
Comment[fy]=Sykjeyndeks fan it helpsintrum ynstellen en generearen
Comment[ga]=Cumraíocht agus giniúint an innéacs cuardaigh don lárionad cabhrach
Comment[gl]=Configuración e xeración do índice de busca do centro de axuda
Comment[gu]=મદદ કેન્દ્ર શોધ અનુક્રમણિકા રૂપરેખાંકન અને બનાવટ
Comment[he]=שינוי הגדרות ויצירת אינדקס החיפוש של מרכז העזרה
Comment[hi]=मदद केंद्र खोज तालिका कॉन्फ़िगरेशन तथा ज़ेनरेशन
Comment[hne]=मदद केंद्र खोज टेबल कान्फिगरेसन अउ जेनरेसन
Comment[hr]=Konfiguriranje i generiranje indeksa za pretraživanje pomoći
Comment[hsb]=Připrawjenje a stworjenje pytanskeho indeksa za pomhanišćo
Comment[hu]=A dokumentáció keresési indexének beállításai
Comment[ia]=Configuration e generation del indice de cerca pro le centro de adjuta
Comment[id]=Konfigurasi dan pembuatan indeks pencarian pusat bantuan
Comment[is]=Uppsettning og sköpun af leitaryfirliti fyrir hjálparmiðstöðina
Comment[it]=Configurazione e generazione dell'indice di ricerca della guida
Comment[ja]=ヘルプセンターの検索インデックスの設定と生成
Comment[ka]=KDE-ს დახმარების სისტემაში ინდექსების კონფიგურაცია
Comment[kk]=Анықтамадан табу индексін баптау
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ និង​ការ​បង្កើត​លិបិក្រម​ស្វែងរក សម្រាប់​មជ្ឈមណ្ឌល​ជំនួយ
Comment[kn]=ಸಹಾಯ ಕೇಂದ್ರ ಶೋಧನಾ ಅನುಕ್ರಮ (ಇಂಡೆಕ್ಸ್) ಸಂರಚನೆ ಮತ್ತು ಉತ್ಪತ್ತಿ
Comment[ko]=도움말 찾아보기 설정 및 생성
Comment[ku]=Hilberîn û veavakirina îndeksa lêgerînê a navenda alîkariyê
Comment[lt]=Pagalbos centro indekso konfigūravimas ir generavimas
Comment[lv]=Palīdzības centra meklēšanas indeksa konfigurācija un ģenerācija
Comment[mai]=मद्दति केंद्र खोज तालिका कान्फिगरेशन आओर जेनरेशन
Comment[mk]=Конфигурирање и генерирање на индексот на Центарот за Помош
Comment[ml]=സഹായകേന്ദ്രത്തിലെ തെരയാനുള്ള സൂചികയുടെ ക്രമീകരണവും ഉത്പാദനവും
Comment[mr]=मदत केंद्र शोध तालिका संयोजना व जेनरेशन
Comment[nb]=Tilpass søkeindeksen og legg den til i hjelpesenteret
Comment[nds]=Söökindex för't Hülpzentrum inrichten un maken laten
Comment[ne]=मद्दत केन्द्र खोजी अनुक्रमणिका कन्फिगरेसन र सिर्जना
Comment[nl]=Zoekindex van het documentatiecentrum instellen en genereren
Comment[nn]=Oppsett og generering av søkjeindeks for hjelpesenteret
Comment[or]=ସହାୟତା କେନ୍ଦ୍ର ଅନୁକ୍ରମଣିକା ସଂରଚନା ଏବଂ ସୃଷ୍ଟି
Comment[pa]=ਮੱਦਦ ਸੈਂਟਰ ਖੋਜ ਇੰਡੈਕਸ ਸੰਰਚਨਾ ਅਤੇ ਨਿਰਮਾਣ
Comment[pl]=Konfiguracja i generowanie indeksu pomocy
Comment[pt]=Configuração e geração do índice de pesquisa do centro de ajuda
Comment[pt_BR]=Configuração e geração do índice de busca do centro de ajuda
Comment[ro]=Generează și configurează indexul de căutare pentru Centrul de Ajutor
Comment[ru]=Настройка индекса справочной системы KDE
Comment[se]=Veahkkeguovddáža ohcanindeavssa heiveheapmi ja ráhkadeapmi
Comment[si]=උදව් මධ්‍යස්ථාන සූචිය සැකසීම හා ජනනය
Comment[sk]=Nastavenie a generovanie indexu pre pomocníka
Comment[sl]=Nastavitve in ustvarjanje iskalnega indeksa za Središče za pomoč
Comment[sr]=Постава и стварање индекса за претрагу Центра за помоћ
Comment[sr@ijekavian]=Постава и стварање индекса за претрагу Центра за помоћ
Comment[sr@ijekavianlatin]=Postava i stvaranje indeksa za pretragu Centra za pomoć
Comment[sr@latin]=Postava i stvaranje indeksa za pretragu Centra za pomoć
Comment[sv]=Skapa och ställ in sökindex för Hjälpcentralen
Comment[ta]=உதவி மையத்தை தேடும் பொருளடக்கம் வடிவமைத்தல் மற்றும் உருவாக்கல்
Comment[te]=సహాయ కేంద్ర అన్వెషణ సూచి అమరిక మరయూ తయారుచెయుట
Comment[tg]=Маркази роҳнамои ҷустуҷӯи индекси танзимот ва эҷодкорӣ
Comment[th]=การปรับแต่งและสร้างดัชนีสำหรับค้นหาของศูนย์ช่วยเหลือ
Comment[tr]=Yardım merkezi indeksinin yapılandırılması ve oluşturulması
Comment[ug]=ياردەم مەركىزىنىڭ ئىزدەش ئىندېكس سەپلىمىسى ۋە ھاسىل قىلىش
Comment[uk]=Створення та налаштування індексу пошуку Центру довідки
Comment[uz]=Yordam markazining qidiruv indeksini yaratish va moslash
Comment[uz@cyrillic]=Ёрдам марказининг қидирув индексини яратиш ва мослаш
Comment[vi]=Cấu hình và tạo ra chỉ mục tìm kiếm của trung tâm trợ giúp
Comment[wa]=Fijhaedje eyet apontiaedje di l' indecse di cweraedje do cinte d' aidance
Comment[xh]=Uqwalaselo lophendlo loncedo osembindi nolwenziwo
Comment[x-test]=xxHelp center search index configuration and generationxx
Comment[zh_CN]=帮助中心搜索索引配置和生成
Comment[zh_TW]=求助中心搜尋索引的組態與產生

X-KDE-Keywords=khelpcenter,help,index,search
X-KDE-Keywords[kk]=khelpcenter,help,index,search
X-KDE-Keywords[nl]=khelpcenter,help,index,zoeken
X-KDE-Keywords[pt]=khelpcenter,ajuda,índice,pesquisa
X-KDE-Keywords[pt_BR]=khelpcenter,ajuda,índice,pesquisa
X-KDE-Keywords[ro]=khelpcenter,centru,ajutor,cuprins,căutare
X-KDE-Keywords[sv]=Hjälpcentralen,hjälp,index,sök
X-KDE-Keywords[uk]=khelpcenter,help,index,search,довідка,центр,покажчик,індекс,пошук,допомога
X-KDE-Keywords[x-test]=xxkhelpcenter,help,index,searchxx
Categories=Qt;KDE;X-KDE-settings-system;
