[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcmshell kcmhelpcenter
Icon=help

X-KDE-SubstituteUID=true
X-KDE-ModuleType=Library
X-KDE-Library=helpcenter
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-ParentApp=kcontrol

Name=Help Index
Name[x-test]=xxHelp Indexxx

Comment=Help center search index configuration and generation
Comment[x-test]=xxHelp center search index configuration and generationxx

Keywords=khelpcenter,help,index,search
Keywords[x-test]=xxkhelpcenter,help,index,searchxx
Categories=Qt;KDE;X-KDE-settings-system;
