[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdesu --nonewdcop kcmshell kcmhelpcenter
Icon=help
DocPath=kcontrol/kcmhelpcenter.html

X-KDE-ModuleType=Library
X-KDE-Library=helpcenter
X-KDE-RootOnly=true

Name=KHelpCenter
Name[af]=khulpsentrum
Name[be]=Цэнтар дапамогі KDE
Name[cs]=Centrum nápovědy
Name[da]=KHjælpecenter
Name[de]=KDE-Hilfezentrum
Name[en_GB]=KHelpCentre
Name[es]=KHelpcenter
Name[fa]=ک‌مک
Name[ja]=KDE ヘルプセンター
Name[pt_BR]=Centro de Ajuda
Name[sv]=Hjälpcentralen

Comment=Help center search index configuration and generation
Comment[bs]=Podešavanje i pravljenje indeksa za pretragu centra za pomoć.
Comment[da]=Hjælpecenterets indstilling og generering af søgeindeks
Comment[en_GB]=Help centre search index configuration and generation
Comment[es]=Configuración y generación del índice de búsqueda del centro de ayuda
Comment[fi]=Ohjeen hakuindeksin asetukset ja luonti
Comment[pt_BR]=Configuração e geração do índice de busca do centro de Ajuda
Comment[sv]=Skapa och ställ in sökindex för Hjälpcentralen
Comment[zh_TW]=求助中心搜尋索引的組態與產生

Keywords=khelpcenter,help,index,search
Keywords[be]=Цэнтар дапамогі,дапамога,індэкс,пошук,khelpcenter,help,index,search
Keywords[bs]=khelpcenter,help,index,search,pretraga,indeks
Keywords[cs]=khelpcenter,nápověda,rejstřík,index,hledání
Keywords[da]=khelpcenter,hjælp,indeks,søg
Keywords[de]=Hilfezentrum,Index,Stichwortverzeichnis,Suche
Keywords[el]=khelpcenter,βοήθεια,ευρετήριο,αναζήτηση
Keywords[es]=khelpcenter,ayuda,índice,búsqueda
Keywords[fa]=khelpcenter,help,index,search,کمک,ک‌مک,راهنما
Keywords[fi]=khelpcenter,ohje,indeksi,haku
Keywords[he]=khelpcenter,עזרה,אינדקס,חיפוש
Keywords[hr]=kcentarzapomoć,pomoć,indeks,traženje,khelpcenter,help,index,search
Keywords[hu]=khelpcenter,segítség,index,keresés
Keywords[ja]=khelpcenter,ヘルプ,index,インデックス,検索
Keywords[mt]=khelpcenter,help,index,search,għajnuna,indiċi,fittex
Keywords[nb]=khelpcenter,help,index,search, hjelpesenter,hjelp,indeks,søk
Keywords[nl]=khelpcenter,help,index,search,hulp,zoeken
Keywords[pt_BR]=centro de ajuda,ajuda,índice,busca
Keywords[sk]=khelpcenter,help,index,pomocník,hľadanie
Keywords[sv]=khelpcenter,hjälp,index,sök
Keywords[tr]=khelpcenter,yardım,ara,tarama,indeks
Keywords[xh]=khelpcenter,uncedo,isalathisi,uphendlo
Keywords[zh_TW]=khelpcenter,help,index,search,求助,索引,搜尋
