[Desktop Entry]
Type=Application
DocPath=kcontrol/kcmkhc/khc-1.html
Icon=khelpcenter
Exec=kcmkhc general browser

X-KDE-ControlModuleType=User
X-KDE-HideFromPanel=true

Name=KDE Helpcenter
Name[ca]=Centre d'ajuda KDE
Name[cs]=KDE Nápověda
Name[de]=KDE-Hilfezentrum
Name[eo]=KDE-Helpcentro
Name[fi]=KDE:n Ohje
Name[hu]=KDE SetítségKözpont
Name[it]=Centro informazioni KDE
Name[ja]=KDEヘルプセンター
Name[no]=KDE Hjelpsenter
Name[no_NY]=KDE Hjelpesentral
Name[pt]=Ajuda KDE
Name[ro]=Sistemul de ajutor
Name[sl]=Center pomoči o KDE
Name[sv]=KDE Hjälpcenter
Name[ta]=KDE ¯¾Å¢ ¨ÁÂõ

Comment=You can configure the look and feel of the KDE Helpcenter here
Comment[ca]=Aquí podeu configurar l'aspecte i efecte del centre d'ajuda KDE
Comment[cs]=Zde můžete nastavit vzhled a chování nápovědy
Comment[de]=Hier können Sie das Aussehen des KDE-Hilfezentrums einstellen
Comment[eo]=Agordaĵo de la KDE-Helpcentro
Comment[fi]=Muokkaa KDE:n ohjeen ulkonäköä ja toimintoja
Comment[fr]=Vous pouvez configurer ici l'apparence de KDE Helpcenter
Comment[hu]=Itt lehet megváltoztatni a KDE Segítségközpont kinézetét
Comment[it]=Qui puoi configurare l'aspetto del centro informazioni KDE
Comment[ja]=ここでKDEヘルプセンターのルック&フィールを設定します
Comment[no]=Her kan du konfigurere hvordan KDE Hjelpsenter skal føles og se ut
Comment[no_NY]=Du kan setja opp utsjånaden til KDE Hjelpesentral her
Comment[pt]=Configuração do centro de ajuda
Comment[ro]=Configurează aspectul Sistemului de ajutor KDE
Comment[sl]=Tu lahko nastavite videz in delovanje centra pomoči KDE
Comment[sv]=Här kan du ställa in KDE hjälpcenters utseende och känsla
Comment[ta]=¿£í¸û KDE ¯¾Å¢ ¨ÁÂò¾¢ý §¾¡üÈõ ÁüÚõ ¯½÷¨Å ­í§¸ À¨¼ì¸Ä¡õ

Keywords=help,helpcenter,khc
Keywords[hu]=segítség,súgó,segítségközpont,khc,help
Keywords[no]=hjelp,hjelpesenter,khc
Keywords[no_NY]=hjelp,hjelpesentral,khc
Keywords[pt]=ajuda,centro de ajuda,khc
Keywords[ro]=ajutor,help,informaţii,khc
Keywords[sl]=pomoč,helpcenter,khc
