[Desktop Entry]
Name=KHelpCenter
Comment=Help for applications
Icon=help-browser
X-DocPath=khelpcenter/index.html
Type=Service
Terminal=false
Exec=khelpcenter %u
X-KDE-StartupNotify=true
