[Desktop Entry]
Name=KHelpcenter
Name[de]=Hilfezentrum
Name[et]=KDE abikeskus
Name[fi]=Ohje
Name[hu]=SetítségKözpont
Name[ja]=k¥Ø¥ë¥×¥»¥ó¥¿¡¼
Name[mi]=SetítségKözpont
Name[no]=Hjelpsenter
Name[sr]=KHelpcentar
Name[sv]=KHjälpcenter
Comment=The KDE Help Center
Comment[ca]=El centre d'ajuda KDE
Comment[de]=Das KDE-Hilfezentrum
Comment[eo]=La KDE-Helpcentro
Comment[fi]=KDE Ohje
Comment[fr]=Le centre d'aide de KDE
Comment[hr]=KDE Pomoæ
Comment[hu]=A KDE Segítségnyújtó
Comment[ja]=KDE ¥Ø¥ë¥×¥»¥ó¥¿¡¼
Comment[mi]=A KDE Segítségnyújtó
Comment[no]=KDEs Hjelpsenter
Comment[no_NY]=KDE Hjelpesentral
Comment[pt_BR]=Centro de Ajuda do KDE
Comment[sr]=KDE pomoæni centar
Comment[sv]=KDE:s Hjälpcenter
Icon=khelpcenter
DocPath=khelpcenter/index.html
Type=Application
Terminal=0
Exec=khelpcenter
ServiceTypes=Browser/View
SwallowExec=
SwallowTitle=
BinaryPattern=
X-KDE-Library=libkhelpcenter
