[Desktop Entry]

Exec=khelpcenter %u
Icon=help-browser
X-DocPath=khelpcenter/index.html
Type=Application
Terminal=false

Name=Help Center
Name[ar]=مركز مساعدة
Name[bg]=Помощен център
Name[ca]=Centre d'ajuda
Name[ca@valencia]=Centre d'ajuda
Name[cs]=Centrum nápovědy
Name[de]=Hilfezentrum
Name[el]=Κέντρο αρωγής
Name[en_GB]=Help Centre
Name[es]=Centro de ayuda
Name[eu]=Laguntza-gunea
Name[fi]=Ohjekeskus
Name[fr]=Centre d'aide
Name[gl]=Centro de axuda
Name[he]=מרכז העזרה
Name[hu]=Súgóközpont
Name[ia]=Centro de Adjuta 
Name[it]=Centro documentazione
Name[ka]=დახმარების ცენტრი
Name[ko]=도움말 센터
Name[nl]=Hulpcentrum
Name[nn]=Hjelpesenter
Name[pl]=Ośrodek Pomocy
Name[ru]=Центр справки
Name[sk]=Pomocník KDE
Name[sl]=Središče za pomoč
Name[sv]=Hjälpcentral
Name[ta]=உதவி மையம்
Name[tr]=Yardım Merkezi
Name[uk]=Центр довідки
Name[x-test]=xxHelp Centerxx
Name[zh_CN]=帮助中心
Name[zh_TW]=輔助中心
GenericName=Help Center
GenericName[ar]=مركز مساعدة
GenericName[ast]=Centru d'ayuda
GenericName[be]=Цэнтр даведак
GenericName[bg]=Помощен център
GenericName[ca]=Centre d'ajuda
GenericName[ca@valencia]=Centre d'ajuda
GenericName[cs]=Centrum nápovědy
GenericName[da]=Hjælpecenter
GenericName[de]=Hilfezentrum
GenericName[el]=Κέντρο αρωγής
GenericName[en_GB]=Help Centre
GenericName[eo]=Helpocentro
GenericName[es]=Centro de ayuda
GenericName[et]=Abikeskus
GenericName[eu]=Laguntza-gunea
GenericName[fa]=مرکز کمک
GenericName[fi]=Ohjekeskus
GenericName[fr]=Centre d'aide
GenericName[gl]=Centro de axuda
GenericName[he]=מרכז העזרה
GenericName[hi]=मदद केंद्र
GenericName[hu]=Súgóközpont
GenericName[ia]=Centro de Adjuta 
GenericName[id]=Pusat Bantuan
GenericName[is]=Hjálparmiðstöð
GenericName[it]=Centro documentazione
GenericName[ja]=ヘルプセンター
GenericName[ka]=დახმარების ცენტრი
GenericName[ko]=도움말 센터
GenericName[lt]=Pagalbos centras
GenericName[lv]=Palīdzības centrs
GenericName[nl]=Helpcentrum
GenericName[nn]=Hjelpesenter
GenericName[pa]=ਮਦਦ ਸੈਂਟਰ
GenericName[pl]=Ośrodek Pomocy
GenericName[pt]=Centro de Ajuda
GenericName[pt_BR]=Centro de ajuda
GenericName[ro]=Centrul de ajutor
GenericName[ru]=Центр справки
GenericName[sk]=Pomocník KDE
GenericName[sl]=Središče za pomoč
GenericName[sr]=Центар помоћи
GenericName[sr@ijekavian]=Центар помоћи
GenericName[sr@ijekavianlatin]=Centar pomoći
GenericName[sr@latin]=Centar pomoći
GenericName[sv]=Hjälpcentral
GenericName[ta]=உதவி மையம்
GenericName[tg]=Маркази роҳнамоӣ
GenericName[tr]=Yardım Merkezi
GenericName[uk]=Центр довідки
GenericName[vi]=Trung tâm trợ giúp
GenericName[x-test]=xxHelp Centerxx
GenericName[zh_CN]=帮助中心
GenericName[zh_TW]=輔助中心
Comment=Browse and search documentation
Comment[ar]=تصفح وابحث في التوثيق
Comment[be]=Агляд і пошук дакументацыі
Comment[bg]=Преглед и търсене на документация
Comment[ca]=Explora i cerca documentació
Comment[ca@valencia]=Explora i busca documentació
Comment[cs]=Procházejte a prohledávejte dokumentaci
Comment[da]=Gennemse og søg i dokumentationen
Comment[de]=Dokumentation lesen und durchsuchen
Comment[el]=Περιήγηση και αναζήτηση στην τεκμηρίωση
Comment[en_GB]=Browse and search documentation
Comment[eo]=Foliumi kaj serĉi dokumentadon
Comment[es]=Explorar y buscar documentación
Comment[et]=Dokumentatsiooni sirvimine ja otsimine
Comment[eu]=Arakatu eta bilatu dokumentazioa
Comment[fa]=مرور و جستجوی مستندات
Comment[fi]=Selaa dokumentaatiota ja etsi sieltä
Comment[fr]=Naviguer et rechercher dans la documentation
Comment[gl]=Explorar e buscar na documentación
Comment[he]=דפדפוף וחיפוש בתיעוד
Comment[hi]=दस्तावेज़ खोजें व देखें
Comment[hu]=Dokumentációk böngészése és keresése
Comment[ia]=Naviga e cerca in le documentation
Comment[id]=Telusuri dan cari dokumentasi
Comment[is]=Vafra um og leita að leiðbeiningum
Comment[it]=Sfoglia e cerca nella documentazione
Comment[ja]=文書を閲覧・検索
Comment[ka]=დაათვალიერეთ და მოიძიეთ დოკუმენტაცია
Comment[ko]=문서 찾아보기
Comment[lt]=Naršyti ir ieškoti dokumentacijoje
Comment[lv]=Pārlūko un meklē dokumentācijā
Comment[nl]=Blader in en doorzoek documentatie
Comment[nn]=Søk og bla gjennom hjelpetekstar
Comment[pa]=ਬਰਾਊਜ਼ਰ ਅਤੇ ਖੋਜ ਦਸਤਾਵੇਜ਼
Comment[pl]=Przeglądarka i wyszukiwarka dokumentacji
Comment[pt]=Navegar e pesquisar a documentação
Comment[pt_BR]=Navegue e pesquise na documentação
Comment[ro]=Caută și răsfoiește documentația
Comment[ru]=Просмотр и поиск документации
Comment[sk]=Prehliadať a hľadať dokumentáciu
Comment[sl]=Brskajte in iščite po dokumentaciji
Comment[sr]=Прегледајте и претражујте документацију
Comment[sr@ijekavian]=Прегледајте и претражујте документацију
Comment[sr@ijekavianlatin]=Pregledajte i pretražujte dokumentaciju
Comment[sr@latin]=Pregledajte i pretražujte dokumentaciju
Comment[sv]=Bläddra och sök i dokumentation
Comment[ta]=கையேடுகளில் தேடி உலாவுங்கள்
Comment[tr]=Belgelendirmeye göz atın veya arama yapın
Comment[uk]=Перегляд документації та пошук у ній
Comment[vi]=Duyệt và tìm kiếm tài liệu
Comment[x-test]=xxBrowse and search documentationxx
Comment[zh_CN]=浏览和搜索文档
Comment[zh_TW]=瀏覽並搜尋文件
# ctxt: man as in man pages
Keywords=man;info;documentation;handbook;manual;information;
Keywords[ar]=مان;توثيق;معلومات;دليل;كتيب;
Keywords[be]=man;звесткі;дакументацыя;даведнік;дапаможнік;інфармацыя;
Keywords[bg]=инфо;информация;документация;ръководства;
Keywords[ca]=man;info;documentació;manual;informació;
Keywords[ca@valencia]=man;info;documentació;manual;informació;
Keywords[cs]=man;info;dokumentace;příručka;manuál;informace;
Keywords[da]=man;info;dokumentation;håndbog;manual;information;vejledning;brugervejledning
Keywords[de]=handbuch;dokumentation;
Keywords[en_GB]=man;info;documentation;handbook;manual;information;
Keywords[eo]=man;info;dokumentado;manlibro;informo;
Keywords[es]=man;info;documentación;manual;información;
Keywords[eu]=man;info;dokumentazioa;eskuliburua;gidaliburua;informazioa;
Keywords[fi]=man;info;ohjeistus;ohje;käsikirja;opas;tietoa;tieto;
Keywords[fr]=manuel ; informations ; documentation ; manuel ; information ;
Keywords[gl]=man;info;documentación;manual;guía;información;
Keywords[he]=מידע;תיעוד;מסמכים;מסמכולוגיה;מסמך;חוברת;מדריך;הדרכה;אינפורמציה;
Keywords[hu]=man;info;dokumentáció;kézikönyv;manual;információk;
Keywords[ia]=man;info;documentation;handbook;manual;information;
Keywords[is]=man-síður;handbækur;handbók;hjálparskjöl;skjölun;upplýsingar;leiðbeiningar;
Keywords[it]=man;info;documentazione;manuale;manuale;informazioni;
Keywords[ja]=man;info;documentation;handbook;manual;information;マニュアル;情報;
Keywords[ka]=man;info;documentation;handbook;manual;information;
Keywords[ko]=man;info;documentation;handbook;manual;information;정보;문서;도움말;설명서;매뉴얼;
Keywords[lv]=man;info;dokumentācija;rokasgrāmata;instrukcija;informācija;
Keywords[nl]=man;info;documentatie;handboek;handleiding;informatie;
Keywords[nn]=man;info;dokumentasjon;handbok;manual;informasjon;
Keywords[pa]=ਮੈਨ;ਜਾਣਕਾਰੀ;ਦਸਤਾਵੇਜ਼;ਹੈਂਡਬੁੱਕ;ਕਿਤਾਬ;ਕਿਤਾਬਚਾ;ਗਿਆਨ;
Keywords[pl]=man;info;dokumentacja;podręcznik;podręcznik;informacja;
Keywords[pt]=man;info;documentação;manual;ajuda;informação;
Keywords[pt_BR]=manual;informação;documentação;manual do usuário;
Keywords[ro]=man;info;documentație;manual;ghid;informații;
Keywords[ru]=man;info;documentation;handbook;manual;information;справка;документация;руководство;инструкция;информация
Keywords[sk]=človek;info;dokumentácia;príručka;príručka;informácie;
Keywords[sl]=man;info;dokumentacija;navodila;priročnik;informacije;
Keywords[sv]=man;info;dokumentation;handbok;manual;information;
Keywords[ta]=man;info;documentation;handbook;manual;information;உதவி;கையேடு;கையேட்டு;ஆவணமாக்கம்;தகவல்;விவரம்;
Keywords[tr]=man;bilgi;info;belgelendirme;el kitabı;kılavuz;
Keywords[uk]=man;info;documentation;handbook;manual;information;ман;підручник;інфо;відомості;інформація;документація;підручник;посібник;мануал;
Keywords[vi]=man;info;documentation;handbook;manual;information;thông tin;tài liệu;sổ tay;
Keywords[x-test]=xxman;info;documentation;handbook;manual;information;xx
Keywords[zh_CN]=man;info;documentation;handbook;manual;information;使用说明;使用手册;说明书;信息;文档;手册;shuomingshu;xinxi;wendang;shouce;shiyongshuoming;shiyongshouce;
Keywords[zh_TW]=man;info;documentation;handbook;manual;information;手冊;說明;

Categories=Qt;KDE;Core;Documentation;
OnlyShowIn=KDE;
DBusActivatable=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.khelpcenter
SingleMainWindow=true
MimeType=x-scheme-handler/help;x-scheme-handler/man;x-scheme-handler/info;
