[Desktop Entry]

Exec=khelpcenter
Icon=help-browser
X-DocPath=khelpcenter/index.html
Type=Application
Terminal=false

Name=Help
GenericName=Help Center
Comment=Browse and search documentation

Categories=Qt;KDE;Core;
OnlyShowIn=KDE;
X-DBUS-ServiceName=org.kde.Help
