[Desktop Entry]
Name=(1) User Commands
Name[nl]=(1) Gebruikercommando's
Name[uk]=(1) Команди користувача
Name[x-test]=xx(1) User Commandsxx

X-DocPath=man:/(1)
