[Desktop Entry]
Name=(1) User Commands
Name[el]=(1) Εντολές χρήστη
Name[fr]=(1) Commandes utilisateur
Name[x-test]=xx(1) User Commandsxx

DocPath=man:/(1)
