[KDE Desktop Entry]
Name=(1) User commands
Name[af]=(1) Gebruiker opdragte
Name[be]=(1) Каманды карыстальніка
Name[bg]=(1) Потребителски команди
Name[bs]=(1) Korisničke naredbe
Name[ca]=(1) Comandaments d'usuari
Name[cs]=(1) Uživatelské příkazy
Name[cy]=(1) Gorchmynion defnyddiwr
Name[da]=(1) Brugerkommandoer
Name[de]=(1) Benutzerbefehle
Name[el]=(1) Εντολές χρήστη
Name[eo]=(1) Uzantokomandoj
Name[es]=(1) Comandos de usuario
Name[et]=(1) Kasutaja käsud
Name[eu]=(1) Erabiltzailearen komandoak
Name[fa]=۱ دستورات کاربر
Name[fi]=(1) Käyttäjän komennot
Name[fr]=(1) Commandes utilisateur
Name[gl]=(1) Comandos de usuario
Name[he]=פקודות משתמש (1)
Name[hi]=(1) उपयोगकर्ता कमांड
Name[hr]=(1) Korisničke naredbe
Name[hu]=(1) Felhasználói parancsok
Name[it]=(1) Comandi utente
Name[ja]=(1)ユーザコマンド
Name[lo]=ຄຳສັ່ງສອດຂອງ Kate
Name[lt]=(1) Vartotojo komandos
Name[mn]=(1) Хэрэглэгчийн тушаал
Name[mt]=(1) Kmandijiet tal-users
Name[nb]=(1) Brukerkommandoer
Name[nl]=(1) Gebruikercommando's
Name[nn]=(1) Brukarkommandoar
Name[nso]=(1) Ditaelo tsa modirisi
Name[pl]=(1) Polecenia użytkownika
Name[pt]=(1) Comandos do utilizador
Name[pt_BR]=(1) Comandos do usuário
Name[ro]=(1) Comenzi utilizator
Name[ru]=(1) Пользовательские команды
Name[se]=(1) Geavaheaddjigohččumat
Name[sk]=(1) Používateľské príkazy
Name[sl]=(1) Uporabniški ukazi
Name[sr]=(1) Корисничке наредбе
Name[sv]=(1) Användarkommandon
Name[ta]=(1) பயன்படுத்துபவர் கட்டளைகள்
Name[th]=(1) คำสั่งของผู้ใช้
Name[tr]=(1) Kullanıcı komutları
Name[uk]=(1) Звичайні команди
Name[uz]=(1) Фойдаланувчи учун буйруқлар
Name[ven]=(1) Muthetho wa mushumisi
Name[vi]=(1) Lệnh của người sử dụng
Name[xh]=(1) Imiyalelo yomsebenzisi
Name[xx]=xx(1) User commandsxx
Name[zh_CN]=(1) 用户命令
Name[zh_TW]=(1) 使用者命令
Name[zu]=(1) Imiyalelo yomsebenzisi

DocPath=man:/(1)
