[KDE Desktop Entry]
Name=(2) System calls
Name[af]=(2) Stelsel oproepe
Name[bg]=(2) Системни сигнали
Name[bs]=(2) Sistemski pozivi
Name[ca]=(2) Crides al sistema
Name[cs]=(2) Systémová volání
Name[cy]=(2) Galwadau cysawd
Name[da]=(2) Systemkald
Name[de]=(2) Systemaufrufe
Name[el]=(2) Κλήσεις συστήματος
Name[eo]=(2) Sistemvokoj
Name[es]=(2) Llamadas de sistema
Name[et]=(2) Süsteemsed kutsed
Name[eu]=(2) Sistemaren deiak
Name[fa]=۲ فراخوانی‌های سیستم
Name[fi]=(2) Systeemikutsut
Name[fr]=(2) Appels système
Name[gl]=(2) Chamadas ó Sistema
Name[he]=קריאות מערכת (2)
Name[hi]=(2) सिस्टम काल्स
Name[hr]=(2) Sustavski pozivi
Name[hu]=(2) Rendszerhívások
Name[it]=(2) Chiamate di sistema
Name[ja]=(2) システムコール
Name[lo]=ອອດລະບົບ
Name[lt]=(2) Sisteminiai iškvietimai
Name[mn]=(2) Системийн дуудалт
Name[mt]=(2) Sejħiet tas-sistema
Name[nb]=(2) Systemkall
Name[nl]=(2) Systeemaanroepen
Name[nn]=(2) Systemkall
Name[nso]=(2) Dipitso tsa system
Name[pl]=(2) Funkcje systemowe
Name[pt]=(2) Chamadas do sistema
Name[pt_BR]=(2) Chamadas de sistema
Name[ro]=(2) Apeluri de sistem
Name[ru]=(2) Системные вызовы
Name[se]=(2)Vuogádatgohččumat
Name[sk]=(2) Systémové volania
Name[sl]=(2) Sistemski klici
Name[sr]=(2) Системски позиви
Name[sv]=(2) Systemanrop
Name[ta]=(2) சாதன அமைப்புகள்
Name[th]=(2) เรียกระบบ
Name[tr]=(2) Sistem çağrıları
Name[uk]=(2) Системні виклики
Name[uz]=(2) Система чақирувлари
Name[ven]=(2) Mbidzo ya sisitemu
Name[vi]=(2) Gọi hệ thống
Name[xh]=(2) Indlela yokusebenza yobizo
Name[xx]=xx(2) System callsxx
Name[zh_CN]=(2) 系统调用
Name[zh_TW]=(2) 系統呼叫
Name[zu]=(2) Okubizwe isistimu

DocPath=man:/(2)
