[KDE Desktop Entry]
Name=(2) System Calls
Name[bg]=(2) Системни сигнали
Name[bs]=(2) Sistemski pozivi
Name[ca]=(2) Crides al sistema
Name[cs]=(2) Systémová volání
Name[cy]=(2) Galwadau Cysawd
Name[da]=(2) Systemkald
Name[de]=(2) Systemaufrufe
Name[eo]=(2) Sistemvokoj
Name[es]=(2) Llamadas de sistema
Name[et]=(2) Süsteemsed väljakutsed
Name[fi]=(2) Järjestelmäkutsut
Name[fr]=(2) Appels système
Name[hu]=(2) Rendszerhívások
Name[it]=(2) Chiamate di sistema
Name[nb]=(2) Systemkall
Name[nl]=(2) Systeemaanroepen
Name[nn]=(2) Systemkall
Name[pa]=(੨) ਸਿਸਟਮ ਕਾਲਾਂ
Name[pl]=(2) Funkcje systemowe
Name[pt]=(2) Chamadas do Sistema
Name[pt_BR]=(2) Chamadas de Sistema 
Name[ro]=(2) Apeluri de sistem
Name[ru]=(2) Системные вызовы
Name[sk]=(2) Systémové volania
Name[sl]=(2) Sistemski klici
Name[sr]=(2) Системски позиви
Name[sr@Latn]=(2) Системски позиви
Name[sv]=(2) Systemanrop
Name[ta]=(2) கணினி அழைப்புகள்
Name[tr]=(2) Sistem Çağrıları
Name[uk]=(2) Системні виклики
Name[uz]=(2) Тизим чақирувлари
Name[xx]=xx(2) System Callsxx
Name[zh_CN]=(2) 系统调用

DocPath=man:/(2)
