[Desktop Entry]
Encoding=UTF-8
Name=(3) Subroutines
Name[af]=(3) Subroetines
Name[be]=(3) Падпраграмы
Name[bg]=(3) Подпрограми
Name[br]=(3) Isroudennadoù
Name[ca]=(3) Subrutines
Name[cs]=(3) Funkce
Name[csb]=(3) Pòdprogramë
Name[cy]=(3) Is-reolweithiau
Name[da]=(3) Subrutiner
Name[de]=(3) Funktionsaufrufe
Name[el]=(3) Υπορουτίνες
Name[eo]=(3) Subfunkcioj
Name[es]=(3) Subrutinas
Name[et]=(3) Alamfunktsioonid
Name[eu]=(3) Azpi-errutinak
Name[fa]=(۳) زیرروالها
Name[fi]=(3) Aliohjelmat
Name[fr]=(3) Sous-routines
Name[ga]=(3) Foghnáthaimh
Name[gl]=(3) Sub-rutinas
Name[he]=תת־שגרות (3)
Name[hr]=(3) Pod-rutine
Name[hu]=(3) Eljárások
Name[is]=(3) Stefjur
Name[it]=(3) Sotto procedure
Name[ja]=(3) サブルーチン
Name[ka]=(3) პროცედურები
Name[kk]=(3) Процедуралар
Name[km]=(៣) Subroutines
Name[lt]=(3) Paprogramės
Name[lv]=(3) Subrutīnas
Name[mk]=(3) Потпрограми
Name[ms]=(3) Subrutin
Name[nb]=(3) Delrutiner
Name[nds]=(3) Funkschonen
Name[ne]=(३) सबरुटिन
Name[nn]=(3) Subrutinar
Name[pa]=(3) ਸਬ-ਰੂਟੀਨ
Name[pl]=(3) Podprogramy
Name[pt]=(3) Sub-rotinas
Name[pt_BR]=(3) Sub-rotinas
Name[ro]=(3) Subrutine
Name[ru]=(3) Процедуры
Name[se]=(3) Vuollerutiinnat
Name[sl]=(3) Podrutine
Name[sr]=(3) Подрутине
Name[sr@latin]=(3) Podrutine
Name[sv]=(3) Subrutiner
Name[ta]=(3)மற்ற நடைமுறைகள்
Name[te]=(3) సబ్ రొటిన్లు
Name[tg]=(3) Маросим 
Name[tr]=(3) Alt yordamlar
Name[uk]=(3) Підпрограми
Name[x-test]=xx(3) Subroutinesxx
Name[xh]=(3) Ulwenzeko rhoqo olusezantsi
Name[zh_TW]=(3) 子程式

DocPath=man:/(3)
