[KDE Desktop Entry]
Name=(3) Subroutines
Name[af]=(3) Subroetines
Name[ar]=(3) الاجراءات الفرعية
Name[be]=(3) Падпраграмы
Name[bg]=(3) Подпрограми
Name[bn]=(3) সাবরুটিন
Name[bs]=(3) Podprogrami
Name[ca]=(3) Subrutines
Name[cs]=(3) Funkce
Name[cy]=(3) Is-reolweithiau
Name[da]=(3) Subrutiner
Name[de]=(3) Subroutinen
Name[el]=(3) Υπορουτίνες
Name[eo]=(3) Subfunkcioj
Name[es]=(3) Subrutinas
Name[et]=(3) Alamfunktsioonid
Name[eu]=(3) Azpi-errutinak
Name[fa]=۳ زیرروال
Name[fi]=(3) Aliohjelmat
Name[fr]=(3) Sous-routines
Name[ga]=(3) Foghnáthaimh
Name[gl]=(3) Subrutinas
Name[he]=תת־שגרות (3)
Name[hi]=(3) सबरूटीन्स
Name[hr]=(3) Podprogrami
Name[hu]=(3) Eljárások
Name[is]=(3) Stefjur
Name[it]=(3) Sotto procedure
Name[ja]=(3) サブルーチン
Name[lo]=ໂດຣເອເທີຍ
Name[lt]=(3) Paprogramės
Name[mk]=(3) Субрутини
Name[mn]=(3) Дэд горим
Name[nb]=(3) Delrutiner
Name[nds]=(3) Subroutinen
Name[nn]=(3) Subrutinar
Name[nso]=(3) Ditsejana
Name[pa]=(੩) ਸਬ-ਰੂਟੀਨ
Name[pl]=(3) Podprogramy
Name[pt]=(3) Sub-rotinas
Name[pt_BR]=(3) Subrotinas
Name[ro]=(3) Subrutine
Name[ru]=(3) Процедуры
Name[sk]=(3) Podprogramy
Name[sl]=(3) Podrutine
Name[sr]=(3) Подрутине
Name[sr@Latn]=(3) Podrutine
Name[sv]=(3) Subrutiner
Name[ta]=(3)மற்ற நடைமுறைகள்
Name[tg]=(3) Маросим 
Name[th]=(3) รูทีนย่อย
Name[tr]=(3) Alt yordamlar
Name[uk]=(3) Підпрограми
Name[ven]=(3) Ndila
Name[xh]=(3) Ulwenzeko rhoqo olusezantsi
Name[xx]=xx(3) Subroutinesxx
Name[zh_CN]=(3) 子例程
Name[zh_TW]=(3) 子程式
Name[zu]=(3) iqoqo lemisebenzana 

DocPath=man:/(3)
