[Desktop Entry]
Name=(5) File Formats
Name[nl]=(5) Bestandsformaten
Name[uk]=(5) Формати файлів
Name[x-test]=xx(5) File Formatsxx

X-DocPath=man:/(5)
