[Desktop Entry]
Name=(5) File Formats
Name[el]=(5) Μορφές αρχείων
Name[fr]=(5) Formats de fichiers
Name[x-test]=xx(5) File Formatsxx

DocPath=man:/(5)
