[Desktop Entry]
Name=(5) File Formats
Name[af]=(5) Lêer Formate
Name[ar]=(5) أنساق الملفات
Name[be]=(5) Фарматы файлаў
Name[bg]=(5) Файлови формати
Name[bn]=(5) ফাইল ফরম্যাট
Name[br]=(5) Furmadoù ar restroù
Name[bs]=(5) Formati datoteka
Name[ca]=(5) Formats de fitxers
Name[cs]=(5) Datové formáty
Name[cy]=(5) Fformatau Ffeil
Name[da]=(5) Filformater
Name[de]=(5) Dateiformate
Name[el]=(5) Μορφές αρχείων
Name[eo]=(5) Dosierformatoj
Name[es]=(5) Formatos de archivo
Name[et]=(5) Failivormingud
Name[eu]=(5) Fitxategi formatuak
Name[fa]=۵ قالب‌های پرونده
Name[fi]=(5) Tiedostomuodot
Name[fr]=(5) Formats de fichiers
Name[fy]=(5) Triemopmaak
Name[gl]=(5) Formatos de Ficheiro
Name[he]=תבניות קבצים (5)
Name[hi]=(5) फ़ाइल फार्मेट्स
Name[hr]=(5) Formati datoteka
Name[hsb]=(5) Datajowe formaty
Name[hu]=(5) Fájlformátumok
Name[is]=(5) Skráasnið
Name[it]=(5) Formato dei file
Name[ja]=(5) ファイルフォーマット
Name[lo]=ສູດຄະນິດສາດ - K
Name[lt]=(5) Bylų formatai
Name[mk]=(5) Формати на датотеки
Name[mn]=(5) Файлын хэлбэр
Name[mt]=(5) Formats tal-fajls
Name[nb]=(5) Filformat
Name[nds]=(5) Dateiformaten
Name[nl]=(5) Bestandsformaten
Name[nn]=(5) Filformat
Name[nso]=(5) Dithlolego tsa Faele
Name[pa]=(੫) ਫਾਇਲ ਫਾਰਮਿਟ
Name[pl]=(5) Formaty plików
Name[pt]=(5) Formatos de Ficheiros
Name[pt_BR]=(5) Formatos de Arquivo
Name[ro]=(5) Formate de fişiere
Name[ru]=(5) Форматы файлов
Name[se]=(5) Fiilaformáhtat
Name[sk]=(5) Formáty súborov
Name[sl]=(5) Vrste datotek
Name[sr]=(5) Формати фајлова
Name[sr@Latn]=(5) Formati fajlova
Name[sv]=(5) Filformat
Name[ta]=(5) கோப்பு வடிவமைப்புகள்
Name[tg]=(5) Намудҳои файл
Name[th]=(5) รูปแบบแฟ้ม
Name[tr]=(5) Dosya Biçimleri
Name[uk]=(5) Формати файлів
Name[uz]=(5) Файл форматлари
Name[ven]=(5) Tshivhumbeo tsha Faela
Name[vi]=(5) Định dạng tệp
Name[wa]=(5) Sôres di fitchîs
Name[xh]=(5) Ifomati Yeefayile
Name[xx]=xx(5) File Formatsxx
Name[zh_CN]=(5) 文件格式
Name[zh_TW]=(5) 檔案格式
Name[zu]=(5) Izakhiwo zamafayela

DocPath=man:/(5)
