[Desktop Entry]
Name=(6) Games
Name[af]=(6) Speletjies
Name[ar]=(6) الألعاب
Name[bg]=(6) Игри
Name[br]=(6) C'hoarioù
Name[ca]=(6) Jocs
Name[cs]=(6) Hry
Name[cy]=(6) Gemau
Name[da]=(6) Spil
Name[de]=(6) Spiele
Name[el]=(6) Παιχνίδια
Name[eo]=(6) Ludoj
Name[es]=(6) Juegos
Name[et]=(6) Mängud
Name[eu]=(6) Jokoak
Name[fa]=(۶) بازیها
Name[fi]=(6) Pelit
Name[fr]=(6) Jeux
Name[fy]=(6) Spultsjes
Name[ga]=(6) Cluichí
Name[gl]=(6) Xogos
Name[he]=משחקים (6)
Name[hr]=(6) Igre
Name[hu]=(6) Játékok
Name[is]=(6) Leikir
Name[it]=(6) Giochi
Name[ja]=(6) ゲーム
Name[ka]=(6) თამაშები
Name[kk]=(6) Ойындар
Name[km]=(6) ល្បែង
Name[lt]=(6) Žaidimai
Name[lv]=(6) Spēles
Name[mk]=(6) Игри
Name[ms]=(6) Permainan
Name[nb]=(6) Spill
Name[nds]=(6) Spelen
Name[ne]=(६) खेल
Name[nl]=(6) Spelletjes
Name[nn]=(6) Spel
Name[pa]=(੬) ਖੇਡਾਂ
Name[pl]=(6) Gry
Name[pt]=(6) Jogos
Name[pt_BR]=(6) Jogos
Name[ro]=(6) Jocuri
Name[ru]=(6) Игры
Name[se]=(6) Spealut
Name[sl]=(6) Igre
Name[sr]=(6) Игре
Name[sr@Latn]=(6) Igre
Name[sv]=(6) Spel
Name[ta]=(6) விளையாட்டுகள்
Name[te]=(6) ఆటలు
Name[tg]=(6) Бозиҳо
Name[tr]=(6) Oyunlar
Name[uk]=(6) Ігри
Name[uz]=(6) Ўйинлар
Name[x-test]=xx(6) Gamesxx
Name[xh]=(6) Imidlalo
Name[zh_TW]=(6) 遊戲

DocPath=man:/(6)
