[KDE Desktop Entry]
Name=(6) Games
Name[af]=(6) Speletjies
Name[be]=(6) Гульні
Name[bg]=(6) Игри
Name[bs]=(6) Igre
Name[ca]=(6) Jocs
Name[cs]=(6) Hry
Name[cy]=(6) Gemau
Name[da]=(6) Spil
Name[de]=(6) Spiele
Name[el]=(6) Παιχνίδια
Name[eo]=(6) Ludoj
Name[es]=(6) Juegos
Name[et]=(6) Mängud
Name[eu]=(6) Jokoak
Name[fa]=۶ بازی‌ها
Name[fi]=(6) Pelit
Name[fr]=(6) Jeux
Name[gl]=(6) Xogos
Name[he]=משחקים (6)
Name[hi]=(6) खेल
Name[hr]=(6) Igre
Name[hu]=(6) Játékok
Name[it]=(6) Giochi
Name[ja]=(6) ゲーム
Name[lo]=ເກມສ์
Name[lt]=(6) Žaidimai
Name[mn]=(6) Тоглоом
Name[mt]=(6) Logħob
Name[nb]=(6) Spill
Name[nl]=(6) Spelletjes
Name[nn]=(6) Spel
Name[nso]=(6) Dipapadi
Name[pl]=(6) Gry
Name[pt]=(6) Jogos
Name[pt_BR]=(6) Jogos
Name[ro]=(6) Jocuri
Name[ru]=(6) Игры
Name[se]=(6) Spealut
Name[sk]=(6) Hry
Name[sl]=(6) Igre
Name[sr]=(6) Игре
Name[sv]=(6) Spel
Name[ta]=(6) விளையாட்டுக்கள்
Name[tg]=(6) Бозиҳо
Name[th]=(6) เกม
Name[tr]=(6) Oyunlar
Name[uk]=(6) Ігри
Name[uz]=(6) Ўйинлар
Name[ven]=(6) Mitambo
Name[vi]=(6) Trò chơi
Name[wa]=(6) Djeus
Name[xh]=(6) Imidlalo
Name[xx]=xx(6) Gamesxx
Name[zh_CN]=(6) 游戏
Name[zh_TW]=(6) 遊戲
Name[zu]=(6) Imidlalo

DocPath=man:/(6)
