[Desktop Entry]
Name=(7) Miscellaneous
Name[af]=(7) Allerlei
Name[ar]=(7) متنوع
Name[be]=(7) Рознае
Name[bg]=(7) Разни
Name[br]=(7) A bep seurt
Name[ca]=(7) Miscel·lània
Name[cs]=(7) Různé
Name[csb]=(7) Wszelejaczé
Name[cy]=(7) Amrwyiol
Name[da]=(7) Diverse
Name[de]=(7) Verschiedenes
Name[el]=(7) Διάφορα
Name[eo]=(7) Diversaj
Name[es]=(7) Varios
Name[et]=(7) Muud
Name[eu]=(7) Hainbat
Name[fa]=(۷) متفرقه
Name[fi]=(7) Sekalaista
Name[fr]=(7) Divers
Name[fy]=(7) Ferskate
Name[ga]=(7) Rudaí éagsúla
Name[gl]=(7) Miscelánea
Name[he]=שונות (7)
Name[hr]=(7) Razno
Name[hu]=(7) Egyéb
Name[is]=(7) Ýmislegt
Name[it]=(7) Varie
Name[ja]=(7) その他
Name[ka]=(7) სხვადასხვა
Name[kk]=(7) Әр түрлі
Name[km]=(៧) ផ្សេងៗ
Name[ko]=(7) 기타
Name[lt]=(7) Įvairūs dalykai
Name[lv]=(7) Dažādi
Name[mk]=(7) Разно
Name[ms]=(7) Pelbagai
Name[nb]=(7) Diverse
Name[nds]=(7) Annerswat
Name[ne]=(७) विविध
Name[nl]=(7) Diversen
Name[nn]=(7) Ymse
Name[pa]=(7) ਫੁਟਕਲ
Name[pl]=(7) Różne
Name[pt]=(7) Diversos
Name[pt_BR]=(7) Diversos
Name[ro]=(7) Diverse
Name[ru]=(7) Разное
Name[se]=(7) Feará mii
Name[sl]=(7) Razno
Name[sr]=(7) Разно
Name[sr@latin]=(7) Razno
Name[sv]=(7) Diverse
Name[ta]=(7) மற்ற
Name[te]=(7) ఇతర
Name[tg]=(7) Гуногун
Name[th]=(7) เบ็ดเตล็ด
Name[tr]=(7) Çeşitli
Name[uk]=(7) Різне
Name[uz]=(7) Ҳар хил
Name[vi]=(7) Lặt vặt
Name[wa]=(7) Totès sôres
Name[x-test]=xx(7) Miscellaneousxx
Name[xh]=(7) Ezixubeneyo
Name[zh_CN]=(7) 杂项
Name[zh_TW]=(7) 雜項

X-DocPath=man:/(7)
