[Desktop Entry]
Name=(7) Miscellaneous
Name[af]=(7) Allerande
Name[ar]=(7) متنوع
Name[be]=(7) Рознае
Name[bg]=(7) Разни
Name[bn]=(7) বিবিধ
Name[br]=(7) A bep seurt
Name[bs]=(7) Razno
Name[ca]=(7) Miscel·lània
Name[cs]=(7) Různé
Name[cy]=(7) Amrwyiol
Name[da]=(7) Diverse
Name[de]=(7) Verschiedenes
Name[el]=(7) Διάφορα
Name[eo]=(7) Diversaj
Name[es]=(7) Varios
Name[et]=(7) Muud
Name[eu]=(7) Hainbat
Name[fa]=۷ متفرقه
Name[fi]=(7) Sekalaista
Name[fr]=(7) Divers
Name[fy]=(7) Ferskate
Name[gl]=(7) Miscelánea
Name[he]=שונות (7)
Name[hi]=(7) विविध
Name[hr]=(7) Razno
Name[hu]=(7) Egyéb
Name[is]=(7) Ýmislegt
Name[it]=(7) Varie
Name[ja]=(7) その他
Name[lo]=ກູ້ລະເບິດ - K
Name[lt]=(7) Įvairūs dalykai
Name[lv]=(7) Dažādi
Name[mk]=(7) Разно
Name[mn]=(7) Юм юмнаас
Name[mt]=(7) Imħalltin
Name[nb]=(7) Diverse
Name[nds]=(7) Anner Kraam
Name[nl]=(7) Diversen
Name[nn]=(7) Ymse
Name[nso]=(7) Hlakahlakanego
Name[pa]=(੭) ਫੁੱਟਕਲ
Name[pl]=(7) Różne
Name[pt]=(7) Diversos
Name[pt_BR]=(7) Outros
Name[ro]=(7) Diverse
Name[ru]=(7) Разное
Name[se]=(7) Feará mii
Name[sk]=(7) Rôzne
Name[sl]=(7) Razno
Name[sr]=(7) Разно
Name[sr@Latn]=(7) Razno
Name[sv]=(7) Diverse
Name[ta]=(7) மற்ற
Name[tg]=(7) Гуногун
Name[th]=(7) เบ็ดเตล็ด
Name[tr]=(7) Çeşitli
Name[uk]=(7) Різне
Name[uz]=(7) Хар ҳил
Name[ven]=(7) Zwisi zwavhudi
Name[vi]=(7) Linh tinh
Name[wa]=(7) Totès sôres
Name[xh]=(7) Ezixubeneyo
Name[xx]=xx(7) Miscellaneousxx
Name[zh_CN]=(7) 杂项
Name[zh_TW]=(7) 雜項
Name[zu]=(7) Ingxubevange

DocPath=man:/(7)
