[Desktop Entry]
Name=(8) Sys. Administration
Name[nl]=(8) Systeembeheer
Name[uk]=(8) Сист. адміністрування
Name[x-test]=xx(8) Sys. Administrationxx

X-DocPath=man:/(8)
