[KDE Desktop Entry]
Name=(8) Sys. Administration
Name[af]=(8) Sys. Administrasie
Name[be]=(8) Сістэмнае адміністраваньне
Name[bg]=(8) Сис. Администрация
Name[bs]=(8) Administracija sistema
Name[ca]=(8) Administració del sistema
Name[cs]=(8) Správa systému
Name[da]=(8) Systemadministration
Name[de]=(8) Systemverwaltung
Name[el]=(8) Διαχείριση συστήματος
Name[eo]=(8) Sistemadministrado
Name[es]=(8) Administración del sistema
Name[et]=(8) Süsteemi administreerimine
Name[eu]=(8) Sist. Kudeaketa
Name[fa]=(۸) مدیریت سیستم
Name[fi]=(8) Järjestelmänhallinta
Name[fr]=(8) Administration système
Name[he]=ניהול המערכת (8)
Name[hu]=(8) Rendszeradminisztráció
Name[it]=(8) Amministrazione di sistema
Name[ja]=(8) システム管理
Name[lt]=(8) Sist. administravimas
Name[mt]=(8) Amministrazzjoni tas-sistema
Name[nb]=(8) Systemadministrasjon
Name[nl]=(8) Systeembeheer
Name[nn]=(8) Systemadministrasjon
Name[nso]=(8) Bongwaledi bja System
Name[pl]=(8) Administracja systemu
Name[pt]=(8) Administração do Sistema
Name[pt_BR]=(8) Administração do Sistema
Name[ru]=(8) Системное администрирование
Name[sk]=(8) Administrácia systému
Name[sl]=(8) Sistemsko upravljanje
Name[sv]=(8) Systemadministration
Name[ta]=(8) ¸½¢É¢-¿¢÷Å¡¸õ
Name[tr]=(8) Sistem Yönetimi
Name[uk]=(8) Сист. адміністрація
Name[ven]=(8) Ndangulo ya sisitemu
Name[zh_CN]=(8) 系统管理
Name[zh_TW]=(8) 系統管理
Name[zu]=(8) Ukugcinwa kwesistimu

DocPath=man:/(8)
