[Desktop Entry]
Name=(9) Kernel
Name[af]=(9) Kern
Name[ar]=(9) النواة
Name[be]=(9) Ядро
Name[bg]=(9) Ядро
Name[bn]=(9) কার্নেল
Name[bn_IN]=(৯) কার্নেল (Kernel)
Name[br]=(9) Kalon
Name[ca]=(9) Nucli
Name[cs]=(9) Jádro
Name[csb]=(9) Jądro systemë
Name[cy]=(9) Cnewyllen
Name[da]=(9) Kerne
Name[el]=(9) Πυρήνας
Name[eo]=(9) Kerno
Name[es]=(9) Núcleo
Name[eu]=(9) Kernela
Name[fa]=(۹) هسته
Name[fi]=(9) Ydin
Name[fr]=(9) Kernel (Noyau)
Name[ga]=(9) Eithne
Name[gl]=(9) Núcleo
Name[gu]=(૯) કર્નલ
Name[he]=גרעין (9)
Name[hi]=(9) कर्नेल
Name[is]=(9) Kjarni
Name[ja]=(9) カーネル
Name[ka]=(9) ბირთვი
Name[kk]=(9) Өзегі
Name[km]=(៩) ខឺណែល
Name[ko]=(9) 커널
Name[ku]=(9) Kernel (Kakîl)
Name[lt]=(9) Branduolys
Name[lv]=(9) Kodols
Name[mk]=(9) Кернел
Name[ml]=(9) കെര്‍ണല്‍
Name[mr]=(9) कर्नेल
Name[nb]=(9) Kjerne
Name[nds]=(9) Kernel (Karn vun't Bedriefsysteem)
Name[ne]=(९) कर्नेल
Name[nn]=(9) Kjerne
Name[pa]=(9) ਕਰਨਲ
Name[pl]=(9) Jądro systemu
Name[pt]=(9) 'Kernel'
Name[ro]=(9) Nucleu
Name[ru]=(9) Ядро
Name[se]=(9) Čoahkku
Name[sl]=(9) Jedro
Name[sr]=(9) Кернел
Name[sv]=(9) Kärna
Name[ta]=(9) கெர்னல்
Name[te]=(9) కెర్నెల్
Name[tg]=(9) Мағзи система
Name[th]=(9) เคอร์เนล
Name[tr]=(9) Çekirdek
Name[uk]=(9) Ядро
Name[uz@cyrillic]=(9) Кернел
Name[vi]=(9) Hạt nhân
Name[wa]=(9) Fonccions do nawea linux
Name[x-test]=xx(9) Kernelxx
Name[zh_CN]=(9) 内核
Name[zh_TW]=(9) 核心

X-DocPath=man:/(9)
