[KDE Desktop Entry]
Name=(9) Kernel
Name[ar]=(9) نواة النظام
Name[be]=(9) Ядро
Name[bg]=(9) Ядро
Name[bn]=(9) কার্নেল
Name[br]=(9) Kalon
Name[ca]=(9) Nucli
Name[cs]=(9) Jádro
Name[cy]=(9) Cnewyllen
Name[da]=(9) Kerne
Name[de]=(9) Kern des Betriebssytems
Name[el]=(9) Πυρήνας
Name[eo]=(9) Kerno
Name[es]=(9) Núcleo
Name[eu]=(9) Kernela
Name[fa]=۹ هسته
Name[fi]=(9) Kerneli
Name[fr]=(9) Kernel (Noyau)
Name[ga]=(9) Eithne
Name[gl]=(9) Núcleo
Name[he]=גרעין (9)
Name[hi]=(9) कर्नेल
Name[is]=(9) Kjarni
Name[ja]=(9) カーネル
Name[lo]=ເທອຣມີນອລຂອງ X
Name[lt]=(9) Branduolys
Name[mk]=(9) Кернел
Name[mn]=(9) ҮС-н цөм
Name[nb]=(9) Kjerne
Name[nds]=(9) Kernel (Karn vun't Bedriefsysteem)
Name[nn]=(9) Kjerne
Name[pa]=(੯) ਕਰਨਲ
Name[pl]=(9) Jądro systemu
Name[pt]=(9) 'Kernel'
Name[ru]=(9) Ядро
Name[se]=(9) Čoahkku
Name[sl]=(9) Jedro
Name[sr]=(9) Кернел
Name[sv]=(9) Kärna
Name[ta]=(9) கெர்னல்
Name[tg]=(9) Асосӣ
Name[th]=(9) เคอร์เนล
Name[tr]=(9) Çekirdek
Name[uk]=(9) Ядро
Name[uz]=(9) Кернел
Name[vi]=(9) Nhân
Name[wa]=(9) Fonccions do nawea linux
Name[xx]=xx(9) Kernelxx
Name[zh_CN]=(9) 内核
Name[zh_TW]=(9) 核心

DocPath=man:/(9)
