[Desktop Entry]
Name=(n) New
Name[af]=(n) Nuwe
Name[ar]=(n) جديد
Name[ast]=(n) Novedaes
Name[be]=(n) Новыя
Name[be@latin]=(n) Novaje
Name[bg]=(n) Нови
Name[bn]=(n) নতুন
Name[bn_IN]=(n) নতুন
Name[br]=(n) Nevez
Name[bs]=(n) Novo
Name[ca]=(n) Nou
Name[ca@valencia]=(n) Nou
Name[cs]=(n) Nové
Name[csb]=(n) Nowé
Name[cy]=(n) Newydd
Name[da]=(n) Ny
Name[de]=(n) Neu
Name[el]=(n) Νέο
Name[en_GB]=(n) New
Name[eo]=(n) Nova
Name[es]=(n) Nuevo
Name[et]=(n) Uus
Name[eu]=(n) Berria
Name[fa]=(n) جدید
Name[fi]=(n) Uudet
Name[fr]=(n) Nouveautés
Name[fy]=(n) Nij
Name[ga]=(n) Nua
Name[gl]=(n) Novo
Name[gu]=(n) નવું
Name[he]=חדש (n)
Name[hi]=(n) नया
Name[hne]=(n) नवा
Name[hr]=(n) Novo
Name[hsb]=(n) Nowe
Name[hu]=(n) Új
Name[ia]=(n) Nove
Name[id]=(n) Baru
Name[is]=(n) Nýtt
Name[it]=(n) Nuovi
Name[ja]=(n) 新規
Name[ka]=(n) ახალი
Name[kk]=(n) Жаңа
Name[km]=(n) ថ្មី
Name[kn]=(n)ಹೊಸ
Name[ko]=(n) 새로운 항목
Name[ku]=(n) Nû
Name[lt]=(n) Nauji dalykai
Name[lv]=(n) Jauns
Name[mai]=(n) नवीन
Name[mk]=(n) Нови
Name[ml]=(n) പുതിയ
Name[mr]=(n) नवीन
Name[ms]=(n) Baru
Name[nb]=(n) Ny
Name[nds]=(n) Nieg
Name[ne]=(n) नयाँ
Name[nl]=(n) Nieuw
Name[nn]=(n) Ny
Name[or]=(n) ନୂତନ
Name[pa]=(n) ਨਵਾਂ
Name[pl]=(n) nowe
Name[pt]=(n) Novos
Name[pt_BR]=(n) Novos
Name[ro]=(n) Nou
Name[ru]=(n) Новые
Name[se]=(n) Ođđa
Name[si]=(n) නව
Name[sk]=(n) Nové
Name[sl]=(n) Novo
Name[sr]=(n) Ново
Name[sr@ijekavian]=(n) Ново
Name[sr@ijekavianlatin]=(n) Novo
Name[sr@latin]=(n) Novo
Name[sv]=(n) Ny
Name[ta]=(n) புதிய
Name[te]=(n) కొత్త
Name[tg]=(н) Нав
Name[th]=(n) หมวดใหม่
Name[tr]=(n) Yeni
Name[ug]=(n) يېڭى
Name[uk]=(n) Нові
Name[uz]=(n) Yangi
Name[uz@cyrillic]=(n) Янги
Name[vi]=(n) Mới
Name[wa]=(n) Noveas
Name[xh]=(n) Entsha
Name[x-test]=xx(n) Newxx
Name[zh_CN]=(n) 新建
Name[zh_TW]=(n) 新

X-DocPath=man:/(n)
