[Desktop Entry]
Name=(n) New
Name[af]=(n) Nuwe
Name[ar]=(n) جديد
Name[bg]=(n) Нови
Name[br]=(n) Nevez
Name[ca]=(n) Nou
Name[cs]=(n) Nové
Name[csb]=(n) Nowé
Name[cy]=(n) Newydd
Name[da]=(n) Ny
Name[de]=(n) Neu
Name[el]=(n) Νέο
Name[eo]=(n) Nova
Name[es]=(n) Nuevo
Name[et]=(n) Uus
Name[eu]=(n) Berria
Name[fa]=(n) جدید
Name[fi]=(n) Uudet
Name[fr]=(n) Nouveautés
Name[fy]=(n) Nij
Name[ga]=(n) Nua
Name[gl]=(n) Novo
Name[he]=חדש (n)
Name[hr]=(n) Novo
Name[hu]=(n) Új
Name[is]=(n) Nýtt
Name[it]=(n) Nuovi
Name[ja]=(n) 新規
Name[ka]=(n) ახალი
Name[kk]=(n) Жаңа
Name[km]=(n) ថ្មី
Name[lt]=(n) Nauji dalykai
Name[lv]=(n) Jauns
Name[mk]=(n) Нови
Name[ms]=(n) Baru
Name[nb]=(n) Ny
Name[nds]=(n) Nieg
Name[ne]=(n) नयाँ
Name[nl]=(n) Nieuw
Name[nn]=(n) Ny
Name[pa]=(n) ਨਵਾਂ
Name[pl]=(n) nowe
Name[pt]=(n) Novos
Name[pt_BR]=(n) Novo
Name[ro]=(n) Nou
Name[ru]=(n) Новые
Name[se]=(n) Ođđa
Name[sl]=(n) Novo
Name[sr]=(n) Ново
Name[sr@Latn]=(n) Novo
Name[sv]=(n) Ny
Name[ta]=(n) புதிய
Name[te]=(n) కొత్త
Name[tg]=(n) Нав
Name[tr]=(n) Yeni
Name[uk]=(n) Нові
Name[uz]=(n) Янги
Name[x-test]=xx(n) Newxx
Name[xh]=(n) Entsha
Name[zh_TW]=(n) 新

DocPath=man:/(n)
