[Desktop Entry]

Name=Applet Manuals
Name[el]=Εγχειρίδια εφαρμογιδίων
Name[fr]=Manuels des applets
Name[x-test]=xxApplet Manualsxx

Icon=contents2

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=applets
