[Desktop Entry]
Name=Applet Manuals
Name[af]=Miniprogram Handleidings
Name[ar]=كتيّبات البريمج
Name[be]=Даведкі аплетаў
Name[bg]=Ръководства на аплети
Name[bn]=অ্যাপলেট ম্যানুয়াল
Name[bn_IN]=অ্যাপ্লেট সংক্রান্ত নথি
Name[br]=Levr-dorn an arloadig
Name[ca]=Manuals de les miniaplicacions
Name[cs]=Příručky appletů
Name[csb]=Pòdrãczniczi programików
Name[cy]=Llawlyfr Rhaglennig
Name[da]=Panelprogrammanualer
Name[de]=Handbücher zu Miniprogrammen (Applets)
Name[el]=Εγχειρίδια μικροεφαρμογών
Name[eo]=Manlibroj de aplikaĵetoj
Name[es]=Manuales de las miniaplicaciones
Name[et]=Aplettide käsiraamatud
Name[eu]=Appleten eskuliburuak
Name[fa]=پیمانه‌های برنامک
Name[fi]=Sovelmien ohjekirjat
Name[fr]=Manuels des applets
Name[fy]=Appletshânliedingen
Name[ga]=Lámhleabhair Fheidhmchláiríní
Name[gl]=Manuais das applets
Name[gu]=એપ્લેટ માર્ગદર્શિકા
Name[he]=ספרי הדרכה של יישומונים
Name[hi]=ऐपलेट निर्देशिका
Name[hr]=Priručnici apleta
Name[hu]=A kisalkalmazások kézikönyvei
Name[is]=Handbækur smáforrita
Name[it]=Manuali applet
Name[ja]=アプレットマニュアル
Name[ka]=აპლეტთა სახელმძღვანელო
Name[kk]=Апплет нұсқаулары
Name[km]=សៀវភៅ​ដៃ​អាប់ភ្លេត
Name[ko]=애플릿 설명서
Name[ku]=AMûrên Bi Destan
Name[lt]=Įskiepių vadovai
Name[lv]=Apletu rokasgrāmata
Name[mk]=Прирачници за аплети
Name[ms]=Manual Aplet
Name[nb]=Håndbøker for miniprogrammer
Name[nds]=Programmhandböker
Name[ne]=एप्लेट म्यानुअल
Name[nl]=Appletshandleidingen
Name[nn]=Applet-manualar
Name[pa]=ਐਪਲਿਟ ਡੌਕੂਮੈਂਟ
Name[pl]=Podręczniki programików
Name[pt]=Manuais das 'Applets'
Name[pt_BR]=Manuais dos Mini-aplicativos
Name[ro]=Manualele miniaplicațiilor
Name[ru]=Руководства апплетов
Name[se]=Prográmmaš-giehtagirjjit
Name[sk]=Manuály pre applety
Name[sl]=Priročniki za vstavke
Name[sr]=Упутства за аплете
Name[sr@latin]=Uputstva za aplete
Name[sv]=Miniprogramhandböcker
Name[ta]=குறுநிரல் கையேடு
Name[te]=అప్లెట్ మెన్యువళ్లు
Name[tg]=Дастурамалҳои барномаҳо
Name[th]=คู่มือแอพเพล็ต
Name[tr]=Programcık Kılavuzları
Name[uk]=Довідки по аплетам
Name[uz]= Appletlar uchun qoʻllanmalar
Name[uz@cyrillic]= Апплетлар учун қўлланмалар
Name[vi]=Sổ tay Tiểu ứng dụng
Name[wa]=Manuels des apliketes
Name[x-test]=xxApplet Manualsxx
Name[xh]=Applet Zesandla
Name[zh_CN]=小应用程序手册
Name[zh_TW]=面板程式手冊

Icon=contents2

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=applets
