[Desktop Entry]
Name=Browser Settings Modules
Name[cs]=Moduly nastavení prohlížeče
Name[de]=Browser-Einstellungsmodule
Name[es]=Módulos de preferencias del navegador
Name[fi]=Selaimen asetusosiot
Name[ia]=Modulos pro navigar inter preferentias
Name[nl]=Modules voor instellingen van de browser
Name[pt]=Módulos de Configuração do Navegador
Name[pt_BR]=Módulos de configuração do Navegador
Name[sk]=Moduly nastavení prehliadača
Name[sl]=Moduli nastavitev brskalnika
Name[sr]=Модули поставки прегледача
Name[sr@ijekavian]=Модули поставки прегледача
Name[sr@ijekavianlatin]=Moduli postavki pregledača
Name[sr@latin]=Moduli postavki pregledača
Name[sv]=Inställningsmoduler för webbläsare
Name[uk]=Модулі параметрів перегляду інтернету
Name[x-test]=xxBrowser Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=370

X-KDE-KHelpcenter-Special=browsercontrol
