[Desktop Entry]
Name=Browser Settings Modules
Name[uk]=Модулі параметрів перегляду інтернету
Name[x-test]=xxBrowser Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=370

X-KDE-KHelpcenter-Special=browsercontrol
