[KDE Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=contact

Name=Contact Information
Name[da]=Kontaktinformation
Name[eo]=Kontaktinformoj
Name[pt_BR]=Informação de Contato
Name[sv]=Kontaktinformation

X-DOC-Weight=3000

