[Desktop Entry]
X-DocPath=help:/khelpcenter/faq/index.html
Name=The KDE FAQ
Name[af]=Die KDE FAQ
Name[ar]=أسئلة الكيدي المتكررة
Name[be]=FAQ KDE
Name[be@latin]=FAQ pra KDE
Name[bg]=Често задавани въпроси
Name[bn]=কে.ডি.ই. FAQ
Name[bn_IN]=KDE সংক্রান্ত প্রশ্নাবলী
Name[ca]=Les PMF del KDE
Name[ca@valencia]=Les PMF del KDE
Name[cs]=Často kladené dotazy KDE
Name[csb]=KDE FAQ
Name[cy]=Y FAQ KDE
Name[da]=KDE OSS
Name[de]=Häufig gestellte Fragen zu KDE (FAQ)
Name[el]=Το KDE FAQ
Name[en_GB]=The KDE FAQ
Name[eo]=La KDE-Oftaj Demandoj
Name[es]=Las PF de KDE
Name[et]=KDE korduma kippuvad küsimused
Name[eu]=KDE FAQa (maiz egiten diren galderak)
Name[fa]=پرسشهای متداول KDE
Name[fi]=KDE FAQ
Name[fr]=La FAQ (questions fréquentes) de KDE
Name[fy]=Protte foarkommende fragen oer KDE
Name[ga]=Ceisteanna Coitianta KDE
Name[gl]=A FAQ de KDE
Name[gu]=KDE પ્રશ્નો
Name[he]=שאלות נפוצות על KDE
Name[hi]=केडीई एफ़एक्यू
Name[hne]=केडीई एफएक्यू
Name[hr]=KDE FAQ
Name[hsb]=KDE FAQ
Name[hu]=KDE FAQ
Name[id]=PAD KDE
Name[is]=KDE Spurt og Svarað (FAQ)
Name[it]=Domande su KDE (FAQ)
Name[ja]=KDE FAQ
Name[ka]=KDE: ძირითადი კითხვები
Name[kk]=KDE сұрақ пен жауаптар
Name[km]=សំណួរ​ដែល​សួរ​រឿយៗ​របស់ KDE
Name[kn]=ಕೆಡಿಇ ಯ FAQ
Name[ko]=KDE 자주 묻는 질문
Name[ku]=KDE PPP
Name[lt]=KDE D.U.K.(FAQ)
Name[lv]=KDE BUJ
Name[mai]=केडीई एफएक्यू
Name[mk]=KDE ЧПП
Name[ml]=കെഡിഇ ചോദ്യോത്തരങ്ങള്‍
Name[mr]=KDE FAQ
Name[ms]=FAQ KDE
Name[nb]=Ofte stilte KDE-spørsmål
Name[nds]=Dat KDE-FAQ
Name[ne]=KDE FAQ
Name[nl]=Veel voorkomde vragen over KDE
Name[nn]=Ofte stilte KDE-spørsmål
Name[or]=KDE FAQ
Name[pa]=KDE ਸਵਾਲ-ਜਵਾਬ
Name[pl]=Często Zadawane Pytania KDE
Name[pt]=A FAQ do KDE
Name[pt_BR]=O FAQ do KDE
Name[ro]=Răspunsuri la întrebări frecvente
Name[ru]=Вопросы и ответы по KDE
Name[se]=Dávjá jearahuvvon KDE-gažaldagat (KDE-DJG)
Name[si]=KDE නිති ඇසෙන පැණ
Name[sk]=KDE FAQ
Name[sl]=Vprašanja in odgovori o KDE
Name[sr]=Често постављана питања о КДЕ‑у
Name[sr@latin]=Često postavljana pitanja o KDE‑u
Name[sv]=Vanliga frågor om KDE
Name[ta]=KDE FAQ(அடிக்கடி கேட்கப்படும் கேள்விகள்)
Name[te]=కెడిఈ ఎఫ్ ఏ క్యు
Name[tg]=Саволу ҷавобҳои KDE
Name[th]=คำถามที่ถามบ่อยของ KDE
Name[tr]=KDE Sıkça Sorulan Sorular
Name[uk]=ЧаП KDE
Name[uz]=KDE TSS
Name[uz@cyrillic]=KDE ТСС
Name[vi]=Các câu hỏi hay gặp của KDE
Name[wa]=Li FÅK di KDE
Name[xh]=KDE FAQ
Name[x-test]=xxThe KDE FAQxx
Name[zh_CN]=KDE FAQ
Name[zh_TW]=KDE 常見問題

X-DOC-Weight=2000
