[Desktop Entry]
DocPath=help:/khelpcenter/faq/index.html
Encoding=UTF-8
Name=The KDE FAQ
Name[af]=Die Kde Faq
Name[be]=FAQ KDE
Name[bg]=Често задавани въпроси
Name[ca]=La PMF del KDE
Name[cs]=Často kladené dotazy KDE
Name[csb]=KDE FAQ
Name[cy]=Y FAQ KDE
Name[da]=KDE OSS
Name[de]=Häufig gestellte Fragen zu KDE (FAQ)
Name[el]=Το KDE FAQ
Name[eo]=La KDE-Oftaj Demandoj
Name[es]=Las PF de KDE
Name[et]=KDE korduma kippuvad küsimused
Name[eu]=KDE FAQa (maiz egiten diren galderak)
Name[fa]=پرسشهای متداول KDE
Name[fi]=KDE FAQ
Name[fr]=La FAQ (questions fréquentes) de KDE
Name[fy]=Protte foarkommende fragen oer KDE
Name[ga]=Ceisteanna Coitianta KDE
Name[gl]=A FAQ de KDE
Name[he]=שאלות נפוצות על KDE
Name[hr]=KDE FAQ
Name[hu]=KDE FAQ
Name[is]=KDE Spurt og Svarað (SoS)
Name[it]=Domande su KDE (FAQ)
Name[ja]=KDE FAQ
Name[ka]=KDE: ძირითადი კითხვები
Name[kk]=KDE сұрақ пен жауаптар
Name[km]= KDE FAQ
Name[lt]=KDE D.U.K.(FAQ)
Name[lv]=KDE BUJ
Name[mk]=KDE ЧПП
Name[ms]=FAQ KDE
Name[nb]=Ofte stilte KDE-spørsmål
Name[nds]=Dat KDE-FAQ
Name[ne]=KDE FAQ
Name[nl]=Veel voorkomde vragen over KDE
Name[nn]=Ofte stilte KDE-spørsmål
Name[pa]=KDE ਸਵਾਲ-ਜਵਾਬ
Name[pl]=Często Zadawane Pytania KDE
Name[pt]=A FAQ do KDE
Name[pt_BR]=O FAQ do KDE
Name[ro]=Răspunsuri la întrebări frecvente
Name[ru]=KDE: вопросы и ответы
Name[se]=Dávjá jearahuvvon KDE-gažaldagat (KDE-DJG)
Name[sl]=Vprašanja in odgovori o KDE
Name[sr]=Често постављана питања о KDE-у
Name[sr@latin]=Često postavljana pitanja o KDE-u
Name[sv]=Vanliga frågor om KDE
Name[ta]=KDE FAQ(அடிக்கடி கேட்கப்படும் கேள்விகள்)
Name[te]=కెడిఈ ఎఫ్ ఏ క్యు
Name[tg]=KDE: саволҳо ва ҷавобҳо
Name[tr]=KDE SSS
Name[uk]=ЧАП для KDE
Name[uz]=KDE ТСС
Name[x-test]=xxThe KDE FAQxx
Name[xh]=KDE FAQ
Name[zh_TW]=KDE 常見問題

X-DOC-Weight=2000
