[Desktop Entry]
Name=Filemanager Settings Modules
Name[de]=Dateiverwaltungs-Einstellungsmodule
Name[pt]=Módulos de Configuração do Gestor de Ficheiros
Name[pt_BR]=Módulos de configuração do Gerenciador de Arquivos
Name[sk]=Moduly nastavení správcu súborov
Name[uk]=Модулі параметрів керування файлами
Name[x-test]=xxFilemanager Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=350

X-KDE-KHelpcenter-Special=filemanagercontrol
