[Desktop Entry]
X-DocPath=help:/fundamentals/index.html
Icon=system-help
Name=KDE Fundamentals
Name[nl]=KDE-fundamentals
Name[pt]=Fundamentos do KDE
Name[sv]=KDE:s grunder
Name[uk]=Основи KDE
Name[x-test]=xxKDE Fundamentalsxx
