[Desktop Entry]
X-DocPath=help:/fundamentals/index.html
Icon=system-help
Name=KDE Fundamentals
Name[bg]=Основи на KDE
Name[ca]=KDE Fundamentals
Name[da]=KDE Fundamentals
Name[de]=KDE-Grundlagen
Name[el]=Βασικές αρχές του KDE
Name[eo]=Bazoj de KDE
Name[et]=KDE põhialused
Name[gl]=Esenciais de KDE
Name[hi]=केडीई मूल
Name[hu]=KDE Fundamentals
Name[ia]=Fundamentales de KDE
Name[km]=មូលដ្ឋាន KDE
Name[nl]=KDE-fundamentals
Name[pa]=KDE ਮੂਲ
Name[pl]=Fundamenty KDE
Name[pt]=Fundamentos do KDE
Name[pt_BR]=Fundamentos do KDE
Name[ro]=Noțiuni de bază KDE
Name[sr]=Основе КДЕ‑а
Name[sr@ijekavian]=Основе КДЕ‑а
Name[sr@ijekavianlatin]=Osnove KDE‑a
Name[sr@latin]=Osnove KDE‑a
Name[sv]=KDE:s grunder
Name[tr]=Temel KDE Bilgileri
Name[uk]=Основи KDE
Name[x-test]=xxKDE Fundamentalsxx
Name[zh_CN]=KDE 基础
Name[zh_TW]=KDE 基礎
