[Desktop Entry]
X-DocPath=help:/fundamentals/index.html
Icon=system-help
Name=KDE Fundamentals
Name[ca]=KDE Fundamentals
Name[da]=KDE Fundamentals
Name[de]=KDE-Grundlagen
Name[el]=Βασικές αρχές του KDE
Name[eo]=Bazoj de KDE
Name[et]=KDE põhialused
Name[gl]=Esenciais de KDE
Name[hu]=KDE Fundamentals
Name[ia]=Fundamentales de KDE
Name[km]=មូលដ្ឋាន KDE
Name[nl]=KDE-fundamentals
Name[pa]=KDE ਮੂਲ
Name[pt]=Fundamentos do KDE
Name[pt_BR]=Fundamentos do KDE
Name[ro]=Noțiuni de bază KDE
Name[sv]=KDE:s grunder
Name[uk]=Основи KDE
Name[x-test]=xxKDE Fundamentalsxx
Name[zh_CN]=KDE 基础
Name[zh_TW]=KDE 基礎
