[KDE Desktop Entry]

Name=Browse info pages
Name[da]=Netsøgningsinfosider
Name[eo]=Rigardu info-paĝojn
Name[pt_BR]=Navegar nas páginas Info
Name[sv]=Bläddra i info-sidor

X-KDE-KHelpcenter-Special=info

DocPath=info:/dir

X-DOC-Weight=700
