[Desktop Entry]

Name=Browse Info Pages
Name[bg]=Преглед на страниците Info
Name[bs]=Pregled info stranica
Name[ca]=Fulleja les pàgines Info
Name[cs]=Prohlížeč info stránek
Name[cy]=Pori Tudalennau Info
Name[da]=Gennemse infosider
Name[de]=Infoseiten durchsehen
Name[eo]=Rigardu info-paĝojn
Name[es]=Navegar por páginas info
Name[et]=Infolehekülgede lehitsemine
Name[eu]=Arakatu info orriak 
Name[fi]=Selaa info-sivuja
Name[fr]=Naviguer dans les pages d'information
Name[hu]=Info oldalak
Name[it]=Sfoglia le pagine "info"
Name[mk]=Прелистај ги info страниците
Name[mt]=Dur il-paġni Info
Name[nb]=Les info-sider
Name[nds]=Info-Sieden dörkieken
Name[nl]=Info-pagina's doorbladeren
Name[nn]=Les info-sider
Name[pa]=ਜਾਣਕਾਰੀ ਸਫੇ ਝਲਕ
Name[pl]=Przeglądaj stron informacyjnych
Name[pt]=Navegar nas Páginas Info
Name[pt_BR]=Navegar nas Páginas Info
Name[ro]=Pagini info
Name[ru]=Страницы Info
Name[sk]=Prehliadanie info stránok
Name[sl]=Brskanje po straneh info
Name[sr]=Претраживање инфо страница
Name[sr@Latn]=Претраживање инфо страница
Name[sv]=Bläddra i info-sidor
Name[ta]=தகவல் பக்கங்களில் உலாவவும்
Name[tr]=Bilgi Sayfarlarını Tara
Name[uk]=Навігація сторінок info
Name[uz]=Info варақларни кўриш
Name[xx]=xxBrowse Info Pagesxx
Name[zh_CN]=浏览信息页面
Icon=contents2

X-KDE-KHelpcenter-Special=info

DocPath=info:/dir

X-DOC-Weight=700
