[Desktop Entry]

Name=Browse Info Pages
Name[x-test]=xxBrowse Info Pagesxx
Icon=contents2

X-KDE-KHelpcenter-Special=info

DocPath=info:/dir

X-DOC-Weight=700
