[Desktop Entry]
Name=System Settings Modules
Name[nl]=Modules voor systeeminstellingen
Name[uk]=Модулі системних параметрів
Name[x-test]=xxSystem Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=300

X-KDE-KHelpcenter-Special=kcontrol
