[Desktop Entry]

Name=Control Center Modules
Name[af]=Kontrole Sentrum Modules
Name[ar]=وحدات مركز التحكم
Name[be]=Модулі цэнтру кіраваньня
Name[bg]=Контролен център
Name[bn]=নিয়ন্ত্রণ কেন্দ্র মডিউল
Name[br]=Molladoù ar c'hreizenn ren
Name[bs]=Moduli kontrolnog centra
Name[ca]=Mòduls del Centre de control
Name[cs]=Moduly Ovládacího centra
Name[cy]=Modiwlau Canolfan Rheoli
Name[da]=Kontrolcenter-moduler
Name[de]=Kontrollzentrum-Module
Name[el]=Αρθρώματα Κέντρου ελέγχου
Name[en_GB]=Control Centre Modules
Name[eo]=Stircentraj Moduloj
Name[es]=Módulos del Centro de control
Name[et]=Juhtimiskeskuse moodulid
Name[eu]=Kontrol Gunearen moduluak
Name[fa]=بخش‌های مرکز کنترل
Name[fi]=Ohjauskeskuksen moduulit
Name[fr]=Modules du centre de configuration
Name[fy]=Ynstellingsintrummodules
Name[gl]=Módulos do Centro de Control
Name[he]=מודולי מרכז הבקרה
Name[hi]=नियंत्रण केंद्र मॉड्यूल्स
Name[hr]=Moduli kontrolnog centra
Name[hu]=A Vezérlőpult moduljai
Name[is]=Stjórnborðseiningar
Name[it]=Moduli del centro di controllo
Name[ja]=コントロールセンターモジュール
Name[lo]=ສູນຄວບຄຸມ
Name[lt]=Valdymo Centro moduliai
Name[lv]=Kontroles centra moduļi
Name[mk]=Модули од Контролниот Центар
Name[mn]=Удирдах төв-модул
Name[mt]=Moduli taċ-Ċentru tal-Kontroll
Name[nb]=Kontrollsentermoduler
Name[nds]=Kuntrullzentrum-Modulen
Name[nl]=Configuratiecentrummodules
Name[nn]=Kontrollsentermodular
Name[nso]=Diripa tsa Bogareng bja Taolo
Name[pa]=ਕੰਟਰੋਲ ਕੇਂਦਰ ਮੈਡੀਊਲ
Name[pl]=Moduły centrum sterowania
Name[pt]=Módulos do Centro de Controlo
Name[pt_BR]=Módulos do Centro de Controle
Name[ro]=Module Centru de Control
Name[ru]=Модули Центра управления
Name[se]=Stivrenguovddášmoduvllat
Name[sk]=Moduly Ovládacieho centra
Name[sl]=Moduli nadzornega središča
Name[sr]=Модули контролног центра
Name[sr@Latn]=Moduli kontrolnog centra
Name[sv]=Moduler i Inställningscentralen
Name[ta]=கட்டுப்பாட்டு மைய பகுதிகள்
Name[tg]=Бахшҳои маркази идоракунӣ
Name[th]=โมดูลของศูนย์ควบคุม
Name[tr]=Kontrol Merkezi Modülleri
Name[uk]=Модулі центру керування
Name[uz]=Бошқарув марказининг модуллари
Name[ven]=Modulu wa Senthara ya vhulanguli
Name[vi]=Trung tâm điều khiển module
Name[wa]=Modules do cinte di contrôle di KDE
Name[xh]=Izicatshulwa Zolawulo Ezisembindini
Name[xx]=xxControl Center Modulesxx
Name[zh_CN]=控制中心模块
Name[zh_TW]=控制中心模組
Name[zu]=Izingxenye ze-Control Center

Icon=kcontrol

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=kcontrol
