[Desktop Entry]

Name=KInfoCenter Modules
Name[x-test]=xxKInfoCenter Modulesxx

Icon=contents2

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=kinfocenter
