[Desktop Entry]
Name=KInfoCenter Modules
Name[af]=K Inligting Sentrum Modules
Name[ar]=وحدات مركز المعلومات لـٍ كدي
Name[be]=Модулі інфармацыйнага цэнтра
Name[bg]=Информационен център
Name[bn]=KInfoCenter মডিউল
Name[br]=Molladoù KInfoCenter
Name[ca]=Mòduls del KInfoCenter
Name[cs]=Moduly Informačního centra
Name[csb]=Wëdowiédné mòdułë centróm kòntrolë
Name[cy]=Modiwlau KInfoCenter
Name[da]=KInfoCenter-moduler
Name[de]=Infozentrum-Module
Name[el]=Αρθρώματα KInfoCenter
Name[en_GB]=KInfoCentre Modules
Name[eo]=Infocentraj moduloj
Name[es]=Módulos del KInfoCenter
Name[et]=Infokeskuse moodulid
Name[eu]=KInfoCenter moduluak
Name[fa]=پیمانه‌های KInfoCenter
Name[fi]=KInfoCenter-moduulit
Name[fr]=Modules de centre d'informations
Name[fy]=Ynformaasjesintrummodules
Name[ga]=Modúil KInfoCenter
Name[gl]=Módulos do centro de tnformación de KDE
Name[gu]=KInfoCenter મોડ્યુલો
Name[he]=מודולי מרכז המידע
Name[hi]=के-जानकारी-सेंटर मॉड्यूल्स
Name[hr]=KInfoCenter moduli
Name[hu]=KInfoCenter-modulok
Name[is]=Upplýsingaborðseiningar
Name[it]=Moduli del centro informazioni
Name[ja]=KInfoCenter モジュール
Name[ka]=საინფორმაციო ცენტრის მოდულები
Name[kk]=KInfoCenter модульдері
Name[km]=ម៉ូឌុល KInfoCenter
Name[ko]=KInfoCenter 모듈
Name[lt]=KInfoCenter moduliai
Name[lv]=KInfoCenter moduļi
Name[mk]=KInfoCenter модули
Name[ms]=Modul KInfoCenter
Name[nb]=Infosentermoduler
Name[nds]=Modulen för dat KDE-Infozentrum
Name[ne]=केडीई सूचना केन्द्र मोड्युल
Name[nl]=Informatiecentrummodules
Name[nn]=Infosentermodular
Name[pa]=ਕੇਜਾਣਕਾਰੀ-ਸੈਂਟਰ ਮੋਡੀਊਲ
Name[pl]=Moduły informacyjne Centrum sterowania
Name[pt]=Módulos do KInfoCenter
Name[pt_BR]=Módulo do Centro de Informações do KDE
Name[ro]=Module Centru de Informaţii
Name[ru]=Модули Центра информации
Name[se]=Diehtoguovddášmoduvllat
Name[sk]=Moduly pre Informačné centrum
Name[sl]=Moduli Informacijega središča
Name[sr]=Модули К‑инфоцентра
Name[sr@latin]=Moduli K‑infocentra
Name[sv]=Moduler i Informationscentralen
Name[ta]=கேதகவல் மைய பகுதிகள்
Name[te]=కెసమాచార కేంద్రం మాడ్యూళ్లు
Name[tg]=Бахшҳои маркази иттилоот
Name[th]=โมดูลของศูนย์ข้อมูล
Name[tr]=KInfoCenter Modülleri
Name[uk]=Модулі KInfoCenter
Name[uz]=KInfoCenter модуллари
Name[vi]=Mô-đun Trung tâm Thông tin của KDE
Name[wa]=Modules do cinte d' infôrmåcions di KDE
Name[x-test]=xxKInfoCenter Modulesxx
Name[xh]=Izicatshulwa ze KInfoCenter
Name[zh_CN]=KInfoCenter 模块
Name[zh_TW]=KInfoCenter 模組

Icon=contents2

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=kinfocenter
