[KDE Desktop Entry]

Name=KInfoCenter Modules
Name[be]=Модулі інфармацыйнага цэнтру
Name[bg]=Модули на информационния център
Name[bs]=Moduli za KInfoCenter
Name[ca]=Mòduls del KInfoCenter
Name[cs]=Moduly Informačního centra
Name[cy]=Modiwlau KInfoCenter
Name[da]=KInfoCenter-moduler
Name[de]=Infozentrum-Module
Name[el]=Αρθρώματα KInfoCenter
Name[en_GB]=KInfoCentre Modules
Name[es]=Módulos del KInfoCenter
Name[et]=Infokeskuse moodulid
Name[eu]=KInfoCenter Moduluak
Name[fa]=بخش‌های ‌مرکز اطلاعات K
Name[fi]=KInfoCenter modulit
Name[fr]=Modules de centre d'informations
Name[gl]=Módulos do Centro de Información de KDE
Name[he]=מודולי מרכז המידע
Name[hi]=के-इन्फो-सेंटर मॉड्यूल्स
Name[hr]=KInfoCenter moduli
Name[hu]=KInfoCenter-modulok
Name[it]=Moduli del centro informazioni
Name[ja]=KInfoCenterモジュール
Name[lo]=ສູນຄວບຄຸມ
Name[lt]=KInfoCenter moduliai
Name[mn]=Мэд төв-модул
Name[mt]=Moduli taċ-Ċentru tal-Informazzjoni
Name[nb]=KInfoCenter-moduler
Name[nl]=Informatiecentrummodules
Name[nn]=Infosentermodular
Name[nso]=Diripa tsa Bogareng bja Tshedimoso ya K
Name[pl]=Moduły informacyjne Cetrum sterowania
Name[pt]=Módulos do KInfoCenter
Name[pt_BR]=Módulo do Centro de Informações do KDE
Name[ro]=Module Centru de Informaţii
Name[ru]=Модули Центра информации
Name[se]=Diehtoguovddášmoduvllat
Name[sk]=Moduly pre Informačné centrum
Name[sl]=Moduli Informacijega središča
Name[sr]=KInfoCenter модули
Name[sv]=Moduler i Informationscentralen
Name[ta]=கான்சோல்
Name[th]=โมดูลของศูนย์ข้อมูล
Name[tr]=KInfoCenter Modülleri
Name[uk]=Модулі KInfoCenter
Name[uz]=KInfoCenter модуллари
Name[ven]=Modulu ya senthara ya mafhungo a K
Name[xh]=Izicatshulwa ze KInfoCenter
Name[xx]=xxKInfoCenter Modulesxx
Name[zh_CN]=KInfoCenter 模块
Name[zh_TW]=KInfoCenter 模組
Name[zu]=Izingxenye ze-KInfoCenter

Icon=contents2

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=kinfocenter
