[Desktop Entry]

Name=Kioslaves
Name[bg]=Система за вход-изход
Name[cs]=Pomocné protokoly KDE
Name[da]=Kioslaver
Name[de]=Ein/Ausgabe-Geräte
Name[eo]=Kenelservoj
Name[et]=KIO moodulid
Name[fa]=برده‌های Kio
Name[fi]=KIO-palvelut
Name[gl]=Escravos Kio
Name[hi]=केआईओ-स्लेव्स
Name[hu]=KDE-protokollok
Name[it]=Kioslave
Name[ja]=Kioslave
Name[nb]=Kioslaver
Name[nn]=Kioslavar
Name[pl]=Wtyczki wejścia/wyjścia
Name[ro]=Dispozitive KIO
Name[se]=Kio-šlávat
Name[sv]=I/O-slavar
Name[tg]=Бандаҳои Kio
Name[uk]=Підлеглі В/В
Name[xx]=xxKioslavesxx
Icon=contents2

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=kioslave
