[Desktop Entry]
Name=Kioslaves
Name[uk]=Підлеглі В/В
Name[x-test]=xxKioslavesxx
Icon=help-contents

X-DOC-Weight=500

X-KDE-KHelpcenter-Special=kioslave
