# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Name=KIO Workers
Name[bg]=KIO обработване
Name[ca]=Processos de treball KIO
Name[ca@valencia]=Processos de treball KIO
Name[de]=KIO-Modul
Name[en_GB]=KIO Workers
Name[es]=Módulos de trabajo de KIO
Name[eu]=KIO beharginak
Name[fi]=KIO-apuohjelmat
Name[fr]=Acteurs du module « kio »
Name[ia]=KIO Workers (Travaliatores de KIO)
Name[it]=KIO Worker
Name[ko]=KIO 워커
Name[nl]=KIO-programma's
Name[nn]=KIO-arbeidarar
Name[pl]=Pracownicy KIO
Name[pt]=Módulos do KIO
Name[sk]=KIO pracovníci
Name[sl]=KIO Workers
Name[ta]=KIO உதவிநிரல்கள்
Name[tr]=KIO Çalışanları
Name[uk]=Обробники введення-виведення
Name[vi]=Thợ KIO
Name[x-test]=xxKIO Workersxx
Name[zh_CN]=KIO 工作程序
Icon=help-contents

X-DOC-Weight=500

X-KDE-KHelpcenter-Special=kioworker
