[Desktop Entry]

Name=Konqueror Plugins
Name[af]=Konqueror Inprop modules
Name[ar]=قوابس Konqueror
Name[be]=Утулкі Konqueror
Name[br]=Lugantoù Konqueror
Name[ca]=Connectors per a Konqueror
Name[cs]=Moduly Konqueroru
Name[cy]=Ategynnau Konqueror
Name[da]=Konqueror-plugin
Name[de]=Konqueror-Plugins
Name[el]=Πρόσθετα Konqueror
Name[eo]=Konkeranta kromaĵo
Name[es]=Plugins de Konqueror
Name[et]=Konquerori pluginad
Name[eu]=Konquerorren pluginak
Name[fa]=وصله‌های Konqueror
Name[fi]=Konqueror-liitännäiset
Name[fr]=Modules externes de Konqueror
Name[fy]=Konqueror-plugins
Name[ga]=Breiseáin Konqueror
Name[gl]=Plugins de Konqueror
Name[he]=תוספים של Konqueror
Name[hr]=Konqueror dodaci
Name[hu]=Konqueror-bővítőmodulok
Name[is]=Konqueror íforrit
Name[it]=Plugin di Konqueror
Name[ja]=Konqueror プラグイン
Name[ka]=Konqueror-ის პლაგინები
Name[kk]=Konqueror модульдері
Name[km]=កម្មវិធី​ជំនួយ​ខាង​ក្នុង Konqueror
Name[lt]=Konqueror priedai
Name[lv]=Iekarotāja spraudņi
Name[mk]=Приклучоци за Konqueror
Name[ms]=Plugin Konqueror
Name[nb]=Konqueror-programtillegg
Name[nds]=Konqueror-Plugins
Name[ne]=कन्क्वेरर प्लगइन
Name[nl]=Konqueror-plugins
Name[nn]=Konqueror-programtillegg
Name[pa]=ਕੋਨਕਿਉਰਰ ਪਲੱਗਿੰਨ
Name[pl]=Wtyczki Konquerora
Name[pt]='Plugins' do Konqueror
Name[pt_BR]=Plug-Ins do Konqueror
Name[ro]=Module Konqueror
Name[ru]=Модули Konqueror
Name[se]=Konqueror-lassemoduvllat
Name[sl]=Vstavki za Konqueror
Name[sr]=Konqueror-ови прикључци
Name[sr@Latn]=Konqueror-ovi priključci
Name[sv]=Konqueror-insticksprogram
Name[ta]=கான்கொரர் செருகு சாதனங்கள்
Name[tg]=Мутассалкунандаҳои Konqueror
Name[tr]=Konqueror Eklentileri
Name[uk]=Втулки для Konqueror
Name[uz]=Konqueror плагинлари
Name[x-test]=xxKonqueror Pluginsxx
Name[xh]=Iplagi zangaphakathi ze Konqueror
Name[zh_TW]=Konqueror 外掛程式

Icon=konqueror

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=konqueror
