[Desktop Entry]

Name=Konqueror Plugins
Name[fr]=Modules externes de Konqueror
Name[x-test]=xxKonqueror Pluginsxx

Icon=konqueror

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=konqueror
