[KDE Desktop Entry]

Name=Konqueror Plugins
Name[af]=Konqueror Inprop modules
Name[be]=Дапаўненьні Konqueror
Name[bg]=Приставки за Konqueror
Name[bs]=Konqueror dodaci
Name[ca]=Connectors per a Konqueror
Name[cs]=Moduly Konqueroru
Name[cy]=Ategynnau Konqueror
Name[da]=Konqueror-plugin
Name[de]=Konqueror-Plugins
Name[el]=Πρόσθετα Konqueror
Name[es]=Plugins de Konqueror
Name[et]=Konquerori pluginad
Name[eu]=Konqueror Pluginak
Name[fa]=متصل‌کننده‌های کانکرر
Name[fi]=Konqueror-liitännäiset
Name[fr]=Modules externes de Konqueror
Name[gl]=Plugins de Konqueror
Name[he]=תוספים של Konqueror
Name[hi]=कॉन्क्वेरर प्लगइन्स
Name[hr]=Konqueror umetci
Name[hu]=Konqueror-bővítőmodulok
Name[it]=Plugin di konqueror
Name[ja]=Konqueror プラグイン
Name[lo]=ບາວເຊີ Konqueror
Name[lt]=Konqueror priedai
Name[mn]=Конкюрор-плугинс
Name[mt]=Plagins ta' Konqueror
Name[nb]=Konqueror-programtillegg
Name[nl]=Konqueror-plugins
Name[nn]=Konqueror-programtillegg
Name[nso]=Ditsenyo tsa Konqueror
Name[pl]=Wtyczki Konquerora
Name[pt]='Plugins' do Konqueror
Name[pt_BR]=Plug-Ins do Konqueror
Name[ro]=Module Konqueror
Name[ru]=Плагины Konqueror
Name[se]=Konqueror-lassemoduvllat
Name[sk]=Moduly pre Konqueror
Name[sl]=Vstavki za Konqueror
Name[sr]=Konqueror-ови додаци
Name[sv]=Konqueror-insticksprogram
Name[ta]=கான்கொரர் செருகு சாதனங்கள்
Name[th]=ปลั้กอินของคอนเควอร์เรอร์
Name[tr]=Konqueror Eklentileri
Name[uk]=Втулки для Konqueror
Name[uz]=Konqueror плагинлари
Name[wa]=Tchôke-divins po Konqueror
Name[xh]=Iplagi zangaphakathi ze Konqueror
Name[xx]=xxKonqueror Pluginsxx
Name[zh_CN]=Konqueror 插件
Name[zh_TW]=Konqueror 外掛程式
Name[zu]=Ama-Plugin e-Konqueror

Icon=konqueror

X-DOC-Weight=-400

X-KDE-KHelpcenter-Special=konqueror
