[Desktop Entry]
Name=Konqueror Settings Modules
Name[cs]=Moduly nastavení Konqueroru
Name[de]=Konqueror-Einstellungsmodule
Name[ia]=Modulos de preferentias de Konqueror
Name[nl]=Modules voor instellingen van Konqueror
Name[pt]=Módulos de Configuração do Konqueror
Name[pt_BR]=Módulos de configuração do Konqueror
Name[sk]=Moduly nastavení Konquerora
Name[sv]=Inställningsmoduler för Konqueror
Name[uk]=Модулі параметрів Konqueror
Name[x-test]=xxKonqueror Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=330

X-KDE-KHelpcenter-Special=konquerorcontrol
