[Desktop Entry]
Name=Konqueror Settings Modules
Name[nl]=Modules voor instellingen van Konqueror
Name[uk]=Модулі параметрів Konqueror
Name[x-test]=xxKonqueror Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=330

X-KDE-KHelpcenter-Special=konquerorcontrol
