[KDE Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=links

Name=KDE on the Web
Name[af]=Kde op die web
Name[ar]=كيدي على الإنترنت
Name[be]=KDE ў Інтэрнэце
Name[bg]=КДЕ в Интернет
Name[br]=KDE war ar gwiad
Name[bs]=KDE na webu
Name[ca]=KDE a la web
Name[cs]=KDE na webu
Name[cy]=KDE ar y we
Name[da]=KDE på nettet
Name[de]=KDE im Web
Name[el]=Το KDE στο διαδίκτυο
Name[eo]=KDE en TTT
Name[es]=KDE en la web
Name[et]=KDE veebis
Name[eu]=KDE Web-ean
Name[fa]=در وب KDE
Name[fi]=KDE webissä
Name[fr]=KDE sur le web
Name[gl]=KDE na web
Name[he]=KDE באינטרנט
Name[hi]=केडीई वेब पर
Name[hr]=KDE na webu
Name[hu]=A KDE az interneten
Name[is]=KDE á vefnum
Name[it]=KDE su internet
Name[ja]=Web上のKDE
Name[lo]=ຄົ້ນຫາບົນເວ໊ບ
Name[lt]=KDE WWW
Name[mn]=Веб КДЭ
Name[mt]=KDE fuq il-Web
Name[nb]=KDE på nettet
Name[nds]=KDE in't Web
Name[nl]=KDE op het internet
Name[nn]=KDE på verdsveven
Name[nso]=KDE go Web
Name[pl]=KDE w sieci
Name[pt]=O KDE na Web
Name[pt_BR]=KDE na Web
Name[ro]=KDE pe Internet
Name[ru]=KDE в Интернете
Name[se]=KDE fierpmádagas
Name[sk]=KDE na webe
Name[sl]=KDE na spletu
Name[sr]=KDE на вебу
Name[sr@Latn]=KDE na vebu
Name[sv]=KDE på Internet
Name[ta]=வலையத்தில் KDE
Name[tg]=KDE дар вэб
Name[th]=KDE บนเว็บ
Name[tr]=İnternet'te KDE
Name[uk]=KDE в Тенетах
Name[uz]=KDE веб-саҳифалари
Name[ven]=KDE kha webu
Name[vi]=KDE trên Web
Name[wa]=KDE sol waibe
Name[xh]=KDE kwi Web
Name[xx]=xxKDE on the webxx
Name[zh_CN]=网上 KDE
Name[zh_TW]=KDE 網站
Name[zu]=I-KDE kwi-web

X-DOC-Weight=4000
