[Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=links

Name=KDE on the Web
Name[el]=Το KDE στο διαδίκτυο
Name[fr]=KDE sur le web
Name[x-test]=xxKDE on the Webxx

X-DOC-Weight=4000
