[Desktop Entry]
Name=Online Help
Name[cs]=Nápověda online
Name[de]=Online-Hilfe
Name[ia]=Adjuta in linea
Name[ja]=オンラインヘルプ
Name[kk]=Интернет анықтамасы
Name[km]=ជំនួយ​លើ​បណ្ដាញ
Name[lt]=Pagalba internete
Name[nl]=Online-hulp
Name[pt]=Ajuda 'Online'
Name[pt_BR]=Ajuda on-line
Name[sv]=Direkthjälp
Name[uk]=Довідка у інтернеті
Name[x-test]=xxOnline Helpxx
Name[zh_CN]=在线帮助
Name[zh_TW]=線上說明
Icon=help-contents
X-DocPath=help:/khelpcenter/onlinehelp/index.html
X-DOC-Weight=100
