[Desktop Entry]
Name=Other Settings Modules
Name[nl]=Overige modules voor instellingen
Name[uk]=Модулі інших параметрів
Name[x-test]=xxOther Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=390

X-KDE-KHelpcenter-Special=othercontrol
