[Desktop Entry]
Name=Other Settings Modules
Name[cs]=Moduly nastavení ostatního
Name[de]=Andere Einstellungsmodule
Name[fi]=Muut asetusosiot
Name[ia]=altere modulos de preferentias
Name[nl]=Overige modules voor instellingen
Name[pt]=Outros Módulos de Configuração
Name[pt_BR]=Outros módulos de configuração
Name[sk]=Iné moduly nastavení
Name[sr]=Остали модули поставки
Name[sr@ijekavian]=Остали модули поставки
Name[sr@ijekavianlatin]=Ostali moduli postavki
Name[sr@latin]=Ostali moduli postavki
Name[sv]=Övriga inställningsmoduler
Name[uk]=Модулі інших параметрів
Name[x-test]=xxOther Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=390

X-KDE-KHelpcenter-Special=othercontrol
