[Desktop Entry]
Name=Other Settings Modules
Name[de]=Andere Einstellungsmodule
Name[pt]=Outros Módulos de Configuração
Name[pt_BR]=Outros módulos de configuração
Name[sk]=Iné moduly nastavení
Name[uk]=Модулі інших параметрів
Name[x-test]=xxOther Settings Modulesxx

Icon=preferences-system

X-DOC-Weight=390

X-KDE-KHelpcenter-Special=othercontrol
