[Desktop Entry]
X-DocPath=help:/plasma/index.html
Name=Plasma Manual
Name[nds]=Plasma-Handbook
Name[pt]=Manual do Plasma
Name[pt_BR]=Manual do Plasma
Name[tr]=Plasma El Kitabı
Name[uk]=Підручник з Плазми
Name[zh_TW]=Plasma 手冊
