[Desktop Entry]
X-DocPath=help:/plasma-desktop/index.html
Icon=plasma
Name=Plasma Manual
Name[nl]=Plasma-handleiding
Name[uk]=Підручник з Плазми
Name[x-test]=xxPlasma Manualxx
Icon=plasma
