[Desktop Entry]
X-DocPath=help:/plasma/index.html
Icon=plasma
Name=Plasma Manual
Name[be@latin]=Padručnik pa systemie „Plasma”
Name[el]=Εγχειρίδιο Plasma
Name[et]=Plasma käsiraamat
Name[ga]=Lámhleabhar Plasma
Name[gl]=Manual de Plasma
Name[gu]=પ્લાઝમા માર્ગદર્શિકા
Name[he]=המדריך של Plasma
Name[ja]=Plasma マニュアル
Name[kk]=Plasma нұсқауы
Name[km]=សៀវភៅ​ដៃ​ប្លាស្មា
Name[kn]=ಪ್ಲಾಸ್ಮಾ ಕೈಪಿಡಿ
Name[nds]=Plasma-Handbook
Name[nn]=Plasma-handbok
Name[pt]=Manual do Plasma
Name[pt_BR]=Manual do Plasma
Name[ru]=Руководство к Plasma
Name[sl]=Priročnik za Plazmo
Name[sr]=Упутство за Плазму
Name[sr@latin]=Uputstvo za Plasmu
Name[sv]=Handbok Plasma
Name[te]=ప్లాజ్మా మేన్యువల్
Name[tr]=Plasma El Kitabı
Name[uk]=Підручник з Плазми
Name[x-test]=xxPlasma Manualxx
Name[zh_TW]=Plasma 手冊
Icon=plasma
