# KDE Config File
[Desktop Entry]
Name=Quickstart Guide
Name[af]=Woerts-warts Gids
Name[ar]=مرشد البدء السريع
Name[ast]=Guía rápida
Name[be]=Падручнік для пачаткоўца
Name[be@latin]=Karotki padručnik
Name[bg]=Ръководство за начинаещите
Name[bn]=কুইকস্টার্ট গাইড
Name[bn_IN]=দ্রুত প্রস্তুতির সহায়িকা
Name[br]=Sturier Kregiñ fonnus
Name[bs]=Vodič za početnike
Name[ca]=Guia ràpida
Name[ca@valencia]=Guia ràpida
Name[cs]=Úvodní seznámení
Name[csb]=Sztartowi prowôdnik
Name[cy]=Canllaw cychwyn cyflym
Name[da]=Kvikstart-guide
Name[de]=Kurzeinführung
Name[el]=Οδηγός γρήγορου ξεκινήματος
Name[en_GB]=Quickstart Guide
Name[eo]=Konciza gvidlibro
Name[es]=Guía rápida
Name[et]=Kiire sissejuhatus
Name[eu]=Gida bizkorra
Name[fa]=راهنمای آغاز سریع
Name[fi]=Pikaopas
Name[fr]=Guide de démarrage rapide
Name[fy]=Fluchstartgids
Name[ga]=Lámhleabhar Mearthosaigh
Name[gl]=Guía de inicio rápido
Name[gu]=ઝડપીશરૂઆત માર્ગદર્શન
Name[he]=מדריך התחלה מהירה
Name[hi]=शीघ्रप्रारंभ मार्गदर्शक
Name[hne]=सीघ्रसुरू मार्गदर्सक
Name[hr]=Brzi uvod
Name[hsb]=Spěšny zawod
Name[hu]=Rövid bevezetés
Name[ia]=Guida initial rapide
Name[id]=Panduan Memulai Secara Cepat
Name[is]=Skyndileiðbeiningar
Name[it]=Guida rapida
Name[ja]=クイックスタート
Name[ka]=სახელმძღვანელო დამწყებთათვის
Name[kk]=Бастаушы бағыттамасы
Name[km]=មគ្គុទ្ទេសក៍​ចាប់ផ្ដើម​រហ័ស
Name[kn]=ಶೀಘ್ರ ಪ್ರಾರಂಭ ಮಾರ್ಗದರ್ಶಿ
Name[ko]=빠른 시작 설명서
Name[ku]=Rêbernameya Destpêkirina Lezgîn
Name[lt]=Greitos pradžios gidas
Name[lv]=Ātras sākšanas ceļvedis
Name[mai]=शीघ्रप्रारंभ मार्गदर्शक
Name[mk]=Водич за брзо снаоѓање
Name[ml]=കൈപ്പുസ്തകം
Name[mr]=Quickstart पुस्तिका
Name[ms]=Panduan Mula Pantas
Name[nb]=Hurtigstart-guide
Name[nds]=Fixstart-Föhrer
Name[ne]=द्रुत सुरुआत मार्गदर्शन
Name[nl]=Snelstartgids
Name[nn]=Snøggstartgaid
Name[or]=Quickstart ପଥ ପ୍ରଦର୍ଶକ
Name[pa]=ਤੁਰੰਤ ਸਟਾਰਟ ਗਾਈਡ
Name[pl]=Przewodnik startowy
Name[pt]=Guia de Iniciação
Name[pt_BR]=Guia de início rápido
Name[ro]=Ghid rapid
Name[ru]=Руководство для начинающих в KDE
Name[se]=Oanehis KDE-introdukšuvdna
Name[si]=ක්‍ෂණික ඇරඹුම් සහාය
Name[sk]=Návod na rýchle použitie
Name[sl]=Vodnik za hitri začetek
Name[sr]=Водич за почетнике
Name[sr@ijekavian]=Водич за почетнике
Name[sr@ijekavianlatin]=Vodič za početnike
Name[sr@latin]=Vodič za početnike
Name[sv]=Snabbstartsguide
Name[ta]=விரைவுதுவக்க வழிகாட்டி.
Name[te]=త్వరితప్రారంభక మార్గదర్శి
Name[tg]=Дастуруламали оғози кор
Name[th]=คำแนะนำด่วน
Name[tr]=Hızlı Başlama Rehberi
Name[ug]=تېز باشلاش يېتەكچىسى
Name[uk]=Настанови з перших кроків
Name[uz]=KDE boʻyicha yoʻlkoʻrsatgich
Name[uz@cyrillic]=KDE бўйича йўлкўрсатгич
Name[vi]=Hướng dẫn bắt đầu nhanh
Name[wa]=Guide d' enondaedje abeye
Name[xh]=Isikhombisi Sesiqalo esikhawulezayo
Name[x-test]=xxQuickstart Guidexx
Name[zh_CN]=速成指南
Name[zh_TW]=快速入門指南
Icon=text-plain
X-DocPath=help:/khelpcenter/quickstart/index.html
X-DOC-Weight=-3000
