# KDE Config File
[Desktop Entry]
Name=Quickstart Guide
Name[nl]=Snelstartgids
Name[uk]=Настанови з перших кроків
Name[x-test]=xxQuickstart Guidexx
Icon=text-plain
X-DocPath=help:/khelpcenter/quickstart/index.html
X-DOC-Weight=-3000
