[Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=support

Name=Supporting KDE
Name[af]=Ondersteun Kde
Name[ar]=دعم كيدي
Name[be]=Падтрымка KDE
Name[bg]=Подпомагане на КДЕ
Name[bn]=কে.ডি.ই-কে সহায়তা
Name[bs]=Podržite KDE
Name[ca]=Com col·laborar amb el KDE
Name[cs]=Podpora KDE
Name[cy]=Cefnogi KDE
Name[da]=Støt KDE
Name[de]=KDE unterstützen
Name[el]=Υποστήριξη στο KDE
Name[eo]=Subteni KDEon
Name[es]=Colaborando con KDE
Name[et]=KDE toetamine
Name[eu]=KDEri lagunduz
Name[fa]=پشتیبانی KDE
Name[fi]=KDE:n tukeminen
Name[fr]=Aider KDE
Name[fy]=KDE stypje
Name[ga]=Ag Tacú le KDE
Name[gl]=Dar Apoio a KDE
Name[he]=תמיכה ב־KDE
Name[hi]=केडीई को आधार दें
Name[hr]=Podrška KDE-u
Name[hu]=A KDE támogatása
Name[is]=Styðja KDE
Name[it]=Aiutare KDE
Name[ja]=KDE 支援
Name[lo]=ເກມກີລາ
Name[lt]=KDE palaikymas
Name[mk]=Поддршка за KDE
Name[mn]=КДЭ дэмжилэг
Name[mt]=Appoġġja lill-KDE
Name[nb]=Støtt KDE
Name[nds]=KDE stütten
Name[nl]=KDE ondersteunen
Name[nn]=Støtt KDE
Name[nso]=Go Thekga KDE
Name[pa]=KDE ਦੀ ਸਹਾਇਤਾ
Name[pl]=Wspomaganie KDE
Name[pt]=Apoiar o KDE
Name[pt_BR]=Assistência ao KDE
Name[ro]=Cum să ajutaţi Proiectul KDE
Name[ru]=Поддержка KDE
Name[sk]=Podpora KDE
Name[sl]=Podpiranje KDE
Name[sr]=Подржавање KDE-а
Name[sr@Latn]=Podržavanje KDE-a
Name[sv]=Ge KDE ditt stöd
Name[ta]=KDEஐ ஆதரிக்கிறது
Name[tg]=Пуштибони KDE
Name[th]=การสนับสนุน KDE
Name[tr]=KDE'yi Destekleyin
Name[uk]=Підтримка KDE
Name[uz]=KDE'ни қўллаб-қувватлаш
Name[ven]=U tikedza KDE
Name[vi]=Hỗ trợ KDE
Name[xh]=Ixhasa i KDE
Name[xx]=xxSupporting KDExx
Name[zh_CN]=支持 KDE
Name[zh_TW]=支援 KDE
Name[zu]=Ixhasa i-KDE

X-DOC-Weight=5000
