[Desktop Entry]
DocPath=help:/khelpcenter/userguide/index.html

Name=KDE Users' Manual
Name[bg]=Ръководство за потребителя
Name[bn]=কে.ডি.ই. ব্যবহারকারীদের জন্য ম্যানুয়াল
Name[bs]=KDE korisnički priručnik
Name[ca]=Manual d'usuari KDE
Name[cs]=Příručka uživatele KDE
Name[cy]=Llawlyfr Defnyddwyr KDE
Name[da]=KDE-brugervejledning
Name[de]=KDE-Benutzerhandbuch
Name[eo]=KDE-uzantula manlibro
Name[es]=Manual del usuario de KDE
Name[et]=KDE kasutaja käsiraamat
Name[eu]=KDEren erabiltzailearen eskuliburua
Name[fi]=KDE:n käyttöohje
Name[fr]=Manuel de l'utilisateur de KDE
Name[gl]=Manual de usuario de KDE
Name[hu]=KDE-felhasználók kézikönyve
Name[it]=Manuale degli utenti di KDE
Name[ja]=KDE ユーザマニュアル
Name[mk]=KDE кориснички прирачник
Name[mt]=Manwal tal-users ta' KDE
Name[nb]=KDE brukerhåndbok
Name[nds]=KDE Brukerhandbook
Name[nl]=KDE's handleiding
Name[nn]=Brukarhandbok for KDE
Name[pa]=KDE ਉਪਭੋਗਤਾ ਦਸਤਾਵੇਜ਼
Name[pl]=Podręcznik użytkownika KDE
Name[pt]=Manual do Utilizador do KDE
Name[pt_BR]=Manual do Usuário do KDE
Name[ro]=Manualul utilizatorului KDE
Name[ru]=Руководство пользователя KDE
Name[sk]=Používateľský manuál KDE
Name[sl]=Uporabniški priročnik KDE
Name[sr]=KDE-ово упутство за кориснике
Name[sr@Latn]=KDE-ово упутство за кориснике
Name[sv]=KDE:s användarhandbok
Name[ta]=KDE பயனர்களின் கையேடு
Name[tr]=KDE Kullanıcı Klavuzu
Name[uk]=Підручник користувача KDE
Name[uz]=KDE учун қўлланма
Name[xx]=xxKDE Users' Manualxx
Name[zh_CN]=KDE 用户手册

X-DOC-Weight=-2000

