[Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=welcome

Name=Welcome to KDE
Name[af]=Welkom na Kde
Name[ar]=أهلا بك في كيدي
Name[be]=Сардэчна запрашаем у KDE
Name[bg]=Добре дошли в КДЕ
Name[bn]=কে.ডি.ই.-তে স্বাগতম্
Name[br]=Degemer e KDE
Name[bs]=Dobro došli u KDE
Name[ca]=Benvingut al KDE
Name[cs]=Uvítání do KDE
Name[cy]=Croeso i KDE
Name[da]=Velkommen til KDE
Name[de]=Willkommen bei KDE
Name[el]=Καλωσορίσατε στο KDE
Name[eo]=Bonvenon ĉe KDE
Name[es]=Bienvenido a KDE
Name[et]=Tere tulemast KDEsse
Name[eu]=Ongi etorria KDEra
Name[fa]=به KDE خوش آمدید
Name[fi]=Tervetuloa KDE:hen
Name[fr]=Bienvenue sur KDE
Name[fy]=Wolkom by KDE
Name[ga]=Fáilte go KDE
Name[gl]=Benvido/a a KDE
Name[he]=ברוכים הבאים אל KDE
Name[hi]=केडीई में आपका स्वागत है
Name[hr]=Dobrodošli u KDE
Name[hu]=Üdvözöljük a KDE-ben!
Name[is]=Velkomin að KDE
Name[it]=Benvenuto in KDE
Name[ja]=KDEへようこそ
Name[lo]=ພັດທະນາໂປຣແກຣມ
Name[lt]=Jus sveikina KDE
Name[mk]=Добредојдовте во KDE
Name[mn]=КДЭ-д тавтай морил
Name[mt]=Merħba għal KDE
Name[nb]=Velkommen til KDE
Name[nds]=Willkamen bi KDE
Name[nl]=Welkom bij KDE
Name[nn]=Velkomen til KDE
Name[nso]=O Amogetswe go KDE
Name[pa]=KDE ਤੇ ਸਵਾਗਤ ਹੈ
Name[pl]=Witamy w KDE
Name[pt]=Bem-vindo ao KDE
Name[pt_BR]=Bem-vindo ao KDE
Name[ro]=Bine aţi venit în KDE
Name[ru]=Добро пожаловать в KDE
Name[sk]=Privítanie KDE
Name[sl]=Dobrodošli v KDE
Name[sr]=Добродошли у KDE
Name[sr@Latn]=Dobrodošli u KDE
Name[sv]=Välkommen till KDE
Name[ta]=KDEக்கு நல்வரவு
Name[tg]=Хуш омадед ба KDE
Name[th]=ยินดีต้อนรับสู่ KDE
Name[tr]=KDE'ye Hoş Geldiniz
Name[uk]=Ласкаво просимо до KDE
Name[uz]=KDE'га марҳамат
Name[ven]=Riani tanganedza kha KDE
Name[vi]=Mời bạn đến với KDE
Name[wa]=Bénvnowe dins KDE
Name[xh]=Wamkelekile kwi KDE
Name[xx]=xxWelcome to KDExx
Name[zh_CN]=欢迎使用 KDE
Name[zh_TW]=歡迎使用 KDE
Name[zu]=Wamukulekile kwi-KDE

X-DOC-Weight=-3000
