[Desktop Entry]
X-DocPath=help:/khelpcenter/index.html?anchor=welcome
Name=Welcome to KDE
Name[af]=Welkom by KDE
Name[ar]=مرحباً بك في كدي
Name[be]=Вітаем у KDE
Name[bg]=Добре дошли в KDE
Name[bn]=কে.ডি.ই.-তে স্বাগতম্
Name[br]=Degemer e KDE
Name[ca]=Benvingut al KDE
Name[cs]=Uvítání do KDE
Name[csb]=Witómë w KDE
Name[cy]=Croeso i KDE
Name[da]=Velkommen til KDE
Name[de]=Willkommen bei KDE
Name[el]=Καλωσορίσατε στο KDE
Name[eo]=Bonvenon ĉe KDE
Name[es]=Bienvenido a KDE
Name[et]=Tere tulemast KDEsse
Name[eu]=Ongi etorria KDEra
Name[fa]=به KDE خوش آمدید
Name[fi]=Tervetuloa KDE:hen
Name[fr]=Bienvenue sur KDE
Name[fy]=Wolkom by KDE
Name[ga]=Fáilte go KDE
Name[gl]=Benvido a KDE
Name[gu]=KDE માં તમારૂં સ્વાગત છે
Name[he]=ברוכים הבאים אל KDE
Name[hi]=केडीई में आपका स्वागत है
Name[hr]=Dobrodošli u KDE
Name[hu]=Üdvözöljük a KDE-ben!
Name[is]=Velkomin að KDE
Name[it]=Benvenuto in KDE
Name[ja]=KDE へようこそ
Name[ka]=მოგესალმებათ KDE
Name[kk]=KDE-ге қош келдіңіз
Name[km]=សូម​ស្វាគមន៍​មក​កាន់ KDE
Name[ko]=KDE에 오신 것을 환영합니다
Name[lt]=Jus sveikina KDE
Name[lv]=Laipni lūdzam KDE
Name[mk]=Добредојдовте во KDE
Name[ml]=കെഡിഇയിലേയ്ക്കു് സ്വാഗതം
Name[ms]=Selamat Datang ke KDE
Name[nb]=Velkommen til KDE
Name[nds]=Willkamen bi KDE
Name[ne]=केडीईमा स्वागत छ
Name[nl]=Welkom bij KDE
Name[nn]=Velkommen til KDE
Name[pa]=KDE ਵਲੋਂ ਜੀ ਆਇਆਂ ਨੂੰ
Name[pl]=Witamy w KDE
Name[pt]=Bem-vindo ao KDE
Name[pt_BR]=Bem-vindo ao KDE
Name[ro]=Bine ați venit în KDE
Name[ru]=Добро пожаловать в KDE
Name[se]=Bures boahtin KDE:ii
Name[sk]=Privítanie KDE
Name[sl]=Dobrodošli v KDE
Name[sr]=Добродошли у КДЕ
Name[sr@latin]=Dobrodošli u KDE
Name[sv]=Välkommen till KDE
Name[ta]=KDEக்கு நல்வரவு
Name[te]=కెడిఈ కు స్వాగతం
Name[tg]=Хуш омадед ба KDE
Name[th]=ยินดีต้อนรับสู่ KDE
Name[tr]=KDE'ye Hoş Geldiniz
Name[uk]=Ласкаво просимо до KDE
Name[uz]=KDE'ga marhamat
Name[uz@cyrillic]=KDE'га марҳамат
Name[vi]=Chào mừng bạn đến với KDE
Name[wa]=Bénvnowe dins KDE
Name[x-test]=xxWelcome to KDExx
Name[xh]=Wamkelekile kwi KDE
Name[zh_CN]=欢迎使用 KDE
Name[zh_TW]=歡迎使用 KDE

X-DOC-Weight=-3000
