# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=A Visual Guide to KDE
Name[x-test]=xxA Visual Guide to KDExx
Comment=Guide to KDE widgets
Comment[x-test]=xxGuide to KDE widgetsxx
Icon=helpdoc
DocPath=help:/khelpcenter/visualdict/index.html
