# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=A Visual Guide to KDE
Name[af]='n Visuele Gids tot KDE
Name[ar]=مرشد مرئي لِــ KDE
Name[be]=Падручнік KDE па візуальных аб'ектах
Name[ca]=Una guia visual per al KDE
Name[cs]=Názorný průvodce prostředím KDE
Name[cy]=Canllaw Gweledol i KDE
Name[da]=En visuel guide til KDE
Name[de]=Visuelle Einführung in KDE
Name[el]=Ένας οπτικός οδηγός για το KDE
Name[eo]=Gvidilo pri KDE
Name[es]=Guía visual de KDE
Name[et]=KDE visuaalne juhend
Name[eu]=KDErako gida bisuala
Name[fa]=یک راهنمای مرئی برای KDE
Name[fi]=Kuvallinen ohje KDE:hen
Name[fr]=Un guide visuel de KDE
Name[fy]=In fisuele KDE-gids
Name[gl]=Unha Guia Visual de KDE
Name[he]=מדריך חזותי ל־KDE
Name[hr]=Vizualni vodič u KDE
Name[hu]=A KDE grafikus elemeinek ismertetése
Name[is]=Myndrænn leiðarvísir að KDE
Name[it]=Una guida visiva di KDE
Name[ja]=KDE のためのビジュアルガイド
Name[ka]=KDE-ს თვალსაჩინო სახელმძღვანელო
Name[kk]=KDE көрнекті бағыттамасы
Name[km]=មគ្គុទ្ទេសក៍​រូបភាព​មក​កាន់ KDE
Name[ko]=KDE 모양새 도움말
Name[lt]=Vaizdinis KDE gidas
Name[lv]=Vizuāls Ceļvedis pa KDE
Name[mk]=Визуелен вовед во KDE
Name[ms]=Panduan Visual KDE
Name[nb]=En visuell guide til KDE
Name[nds]=En visuell Inföhren na KDE
Name[ne]=KDE मा दृश्य मार्गदर्शन
Name[nl]=Een visuele KDE-gids
Name[nn]=Visuell KDE-gaid
Name[pa]=KDE ਲਈ ਇੱਕ ਦਿੱਖ ਗਾਈਡ
Name[pl]=Przewodnik po KDE
Name[pt]=Um Guia Visual para o KDE
Name[pt_BR]=Guia Visual para o KDE
Name[ro]=Ghid vizual KDE
Name[ru]=Наглядное пособие по KDE
Name[se]=Visuella KDE-introdukšuvdna
Name[sl]=Vodnik po KDE
Name[sr]=Визуелни водич за KDE
Name[sr@Latn]=Vizuelni vodič za KDE
Name[sv]=Visuell guide till KDE
Name[ta]=KDEன் காட்டிசார் வழிகாட்டி
Name[tg]=Роҳнамои басрии KDE
Name[tr]=KDE İçin Görsel Kılavuz
Name[uk]=Наочний підручник по KDE
Name[x-test]=xxA Visual Guide to KDExx
Name[xh]=Isikhombisi esibonakalayo se KDE
Name[zh_TW]=KDE 視覺指南
Comment=Guide to KDE widgets
Comment[af]=Gids na KDE widgets
Comment[be]=Падручнік па віджэтах KDE
Comment[ca]=Guia per als estris a KDE
Comment[cs]=Průvodce prvky uživatelského prostředí KDE
Comment[cy]=Canllaw i declynnau KDE
Comment[da]=Guide til KDE-kontroller
Comment[de]=Einführung in die KDE-Elemente
Comment[el]=Οδηγός για τα γραφικά συστατικά του KDE
Comment[eo]=Gvidilo pri KDE-fenestraĵoj
Comment[es]=Guía de los objetos visuales (widgets) de KDE
Comment[et]=KDE elementide juhend
Comment[eu]=KDEren widget-en gida
Comment[fa]=راهنما برای عناصر KDE
Comment[fi]=Ohje KDE:n työkaluihin
Comment[fr]=Guide des éléments graphiques de KDE
Comment[fy]=Gids foar KDE-widgets
Comment[gl]=Guia dos widgets de KDE
Comment[he]=מדריך לפריטי KDE
Comment[hr]=Uvod u KDE widgete
Comment[hu]=A KDE grafikai elemeinek ismertetése
Comment[is]=Leiðarvísir að viðmótshlutum KDE
Comment[it]=Guida agli elementi grafici di KDE
Comment[ja]=KDE ウィジェットガイド
Comment[ka]=KDE-ს მართვის ელემენტთა სახელმძღვანელო
Comment[kk]=KDE элементтер бағыттамасы
Comment[km]=មគ្គុទ្ទេសក៍​វត្ថុ​មើលឃើញ​ក្នុង KDE
Comment[ko]=KDE 위젯 도움말
Comment[lt]=KDE valdiklių gidas
Comment[lv]=Rokasgrāmata KDE vidžetos
Comment[mk]=Вовед во графичките контроли на KDE
Comment[ms]=Panduan widget KDE
Comment[nb]=Guide til KDEs skjermelementer
Comment[nds]=Inföhren för KDE-Bedeenelementen
Comment[ne]=KDE विजेटमा मार्गदर्शन
Comment[nl]=Gids voor KDE-widgets
Comment[nn]=Gaid til skjermelementa i KDE
Comment[pa]=KDE ਝਰੋਖਿਆਂ ਲਈ ਗਾਈਡ ਹੈ
Comment[pl]=Przewodnik po elementach okien KDE
Comment[pt]=Guia para os itens gráficos do KDE
Comment[pt_BR]=Guia para os controles do KDE
Comment[ro]=Un ghid pentru componentele grafice ale KDE
Comment[ru]=Руководство по элементам интерфейса KDE
Comment[se]=Introdukšuvdna KDE-ađaide
Comment[sl]=Vodnik po gradnikih KDE
Comment[sr]=Водич за KDE контроле
Comment[sr@Latn]=Vodič za KDE kontrole
Comment[sv]=Guide till KDE-komponenter
Comment[ta]=KDE வளைவுகளுக்கான வழிகாட்டி
Comment[tg]=Роҳбарӣ бо ҷузъи робитаи KDE
Comment[tr]=KDE Aletleri için rehber
Comment[uk]=Підручник по віджетам KDE
Comment[uz]=KDE виджетлари бўйича йўлкўрсатгич
Comment[x-test]=xxGuide to KDE widgetsxx
Comment[xh]=Isikhombisi esiya kwi KDE widgets
Comment[zh_TW]=KDE 視窗元件 (widget) 指南
Icon=helpdoc
DocPath=help:/khelpcenter/visualdict/index.html
