[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell htmlsearch
Icon=help_index
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/help-index.html

X-KDE-Library=kcm_htmlsearch
X-KDE-FactoryName=htmlsearch
X-KDE-ParentApp=kcontrol

Name=Index
Name[af]=Indeks
Name[ar]=الفهرس
Name[be]=Індэкс
Name[bg]=Индекс
Name[br]=Meneger
Name[ca]=Índex
Name[cs]=Rejstřík
Name[csb]=Indeks
Name[cy]=Mynegai
Name[da]=Indeks
Name[de]=Stichwortverzeichnis
Name[el]=Ευρετήριο
Name[eo]=Indekso
Name[es]=Índice
Name[et]=Indeks
Name[eu]=Indizea
Name[fa]=نمایه
Name[fi]=Hakemisto
Name[fy]=Yndeks
Name[ga]=Innéacs
Name[gl]=Índice
Name[he]=אינדקס
Name[hr]=Indeks
Name[hu]=Keresési index
Name[is]=Yfirlit
Name[it]=Indice
Name[ja]=インデックス
Name[ka]=ინდექსი
Name[kk]=Индекс
Name[km]=លិបិក្រម
Name[ko]=찾아보기
Name[lt]=Rodyklė
Name[lv]=Indekss
Name[mk]=Индекс
Name[ms]=Indeks
Name[nb]=Indeks
Name[ne]=अनुक्रमणिका
Name[nn]=Indeks
Name[pa]=ਇੰਡੈਕਸ
Name[pl]=Indeks
Name[pt]=Índice
Name[pt_BR]=Índice
Name[ru]=Индекс
Name[se]=Indeaksa
Name[sl]=Indeks
Name[sr]=Индекс
Name[sr@latin]=Indeks
Name[ta]=பொருளடக்கம்
Name[te]=సూచిక
Name[tg]=Феҳрист
Name[th]=ดัชนี
Name[tr]=İndeks
Name[uk]=Індекс
Name[uz]=Индекс
Name[vi]=chỉ mục
Name[wa]=Indecse
Name[x-test]=xxIndexxx
Name[xh]=Isalathiso
Name[zh_CN]=索引
Name[zh_TW]=索引

Comment=Index generation
Comment[af]=Indeks genereering
Comment[ar]=توليد الفهرس
Comment[be]=Стварэнне індэксу
Comment[bg]=Създаване на индекс
Comment[br]=Genel ar meneger
Comment[ca]=Generació de l'índex
Comment[cs]=Vytvoření rejstříku
Comment[csb]=Generowanié indeksu
Comment[cy]=Cynhyrchu mynegai
Comment[da]=Indeksgenerering
Comment[de]=Erstellung des Stichwortverzeichnisses
Comment[el]=Δημιουργία περιεχομένων
Comment[eo]=Indekskreado
Comment[es]=Generación del índice
Comment[et]=Indeksi tekitamine
Comment[eu]=Indizea sortu
Comment[fa]=تولید نمایه
Comment[fi]=Hakemiston luonti
Comment[fr]=Génération d'index
Comment[fy]=Yndeksgeneraasje
Comment[gl]=Xeración de Índices
Comment[he]=יצירת אינדקס
Comment[hr]=Generiranje indeksa
Comment[hu]=Index létrehozása
Comment[is]=Yfirlitsgerð
Comment[it]=Generazione dell'indice
Comment[ja]=インデックスを生成
Comment[ka]=ინდექსის შექმნა
Comment[kk]=Индексті құру
Comment[km]=ការ​បង្កើត​លិបិក្រម
Comment[ko]=찾아보기 생성
Comment[lt]=Rodyklės generavimas
Comment[lv]=Indeksa ģenerēšana
Comment[mk]=Генерирање на индекс
Comment[ms]=Penjanaan indeks
Comment[nb]=Indekslaging
Comment[nds]=Index maken
Comment[ne]=अनुक्रमणिका सिर्जना
Comment[nl]=Indexgeneratie
Comment[nn]=Indekslaging
Comment[pa]=ਇੰਡੈਕਸ ਬਣਾਓ
Comment[pl]=Generowanie indeksu
Comment[pt]=Geração de índices
Comment[pt_BR]=Geração de índice
Comment[ro]=Generează indexul
Comment[ru]=Создание индекса
Comment[se]=Indeaksaráhkadeapmi
Comment[sl]=Ustvarjanje indeksa
Comment[sr]=Генерисање индекса
Comment[sr@latin]=Generisanje indeksa
Comment[sv]=Indexskapare
Comment[ta]=பொருளடக்க இயக்கம்
Comment[te]=సూచిక ను తయారుచెయుట
Comment[tg]=Эҷоди феҳрист
Comment[th]=สร้างดัชนี
Comment[tr]=İndeks oluşturma
Comment[uk]=Утворення індексу
Comment[uz]=Индексни яратиш
Comment[vi]=Tạo ra chỉ mục
Comment[wa]=Fijhaedje d' indecse
Comment[x-test]=xxIndex generationxx
Comment[xh]=Ulwenziwo Lwesalathiso
Comment[zh_CN]=索引生成
Comment[zh_TW]=產生索引

Keywords=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language
Keywords[be]=Дапамога,Даведка,Пошук,Індэкс,Мова,Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language
Keywords[bg]=Keywords=помощ, индекс, търсене, обхват, език, Help, HTML, Search, Index, htdig, htsearch, htmerge, Scope, Language
Keywords[ca]=Ajuda,HTML,Cerca,Índex,htdig,htsearch,htmerge,Scope,Llengua
Keywords[cs]=Nápověda,HTML,Hledat,Index,htdig,htsearch,htmerge,Rejstřík,Jazyk,Rozsah
Keywords[csb]=pòmòc,HTML,szëkôj,szëkba,indeks,htdig,htsearch,htmerge,òbjim,jãzëk
Keywords[cy]=Cymorth,HTML,Chwilio,Mynegai,htdig,htsearch,htmerge,Amrediad,Iaith  
Keywords[da]=Hjælp,HTML,Søg,Indeks,htdig,htsearch,htmerge,Scope,Sprog
Keywords[de]=Hilfe,HTML,Suche,Index,Stichwortverzeichnis,htdig,Sprachen
Keywords[el]=Βοήθεια,HTML,Αναζήτηση,Ευρετήριο,htdig,htsearch,htmerge,Scope,Γλώσσα
Keywords[eo]=helpo,HTML,serĉo,indekso,htdig,htsearch,htmerge,areo,lingvo
Keywords[es]=Ayuda,HTML,Búsqueda,Índice,htdig,htsearch,htmerge,Ámbito,Idioma
Keywords[et]=abi,HTML,otsing,indeks,htdig,htsearch,htmerge,skoop,keel
Keywords[eu]=Laguntza,HTML,Bilatu,Indizea,htdig,htsearch,htmerge,Scope,Hizkuntza
Keywords[fa]=کمک، زنگام، جستجو، نمایه، htdig، htsearch، htmerge، دامنه، زبان
Keywords[fi]=Ohje,HTML,Etsi,Indeksi,htdig,htsearch,htmerge,Kieli
Keywords[fr]=aide,HTML,recherche,index,htdig,htsearch,htmerge,pays,langue
Keywords[fy]=help,html,zoeken,sykje,yndeks,htdig,htsearch,htmerge,scope,taal
Keywords[ga]=Cabhair,HTML,Cuardach,Innéacs,htdig,htsearch,htmerge,Scóip,Teanga
Keywords[gl]=Axuda,HTML,Procura,Índice,htdig,htsearch,htmerge,Scope,Lingua
Keywords[he]=עזרה,HTML,חיפוש,אינדקס,htdig,htsearch,htmerge,טווח,שפה,Help,Search,Index,htdig,htsearch,htmerge,Scope,Language
Keywords[hr]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,Pomoć,Pretraživanje,Traži,Pretraga,Indeks,Opseg,Raspon,Jezik
Keywords[hu]=segítség,HTML,keresés,index,htdig,htsearch,htmerge,érvényességi kör,nyelv
Keywords[is]=Hjálp,HTML,leit,yfirlit,htdig,svæði,tungumál
Keywords[it]=aiuto,HTML,cerca,indice,htdig,htsearch,htmerge,scope,lingua
Keywords[ja]=ヘルプ,HTML,検索,インデックス,htdig,htsearch,htmerge,スコープ,言語
Keywords[km]=ជំនួយ,HTML,ស្វែងរក,លិបិក្រម,htdig,htsearch,htmerge,វិសាលភាព,ភាសា
Keywords[ko]=도움말,HTML,검색,찾아보기,htdig,htsearch,htmerge,언어
Keywords[lt]=Pagalba,HTML,Paieška,Sąrašas,htdig,htsearch,htmerge,Sritis,Kalba
Keywords[lv]=Palīdzība,HTML,Meklēt,Indekss,htdig,htsearch,htmerge,Mērķis,Valoda
Keywords[mk]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language, Помош,Пребарувај,Индекс,Опфат,Јазик
Keywords[nb]=Hjelp,HTML,Søk,Indeks,htdig,htsearch,htmerge,språk
Keywords[nds]=Hülp,HTML,Söken,Index,htdig,htsearch,htmerge,Scope,Spraak
Keywords[ne]=मद्दत,HTML, खोजी, अनुक्रमणिका,htdig,htsearch,htmerge, क्षेत्र, भाषा
Keywords[nl]=help,html,zoeken,index,htdig,htsearch,htmerge,scope,taal
Keywords[nn]=hjelp,HTML,søk,indeks,htdig,htmerge,område,språk
Keywords[pa]=ਮੱਦਦ,HTML,Index,htdig,htsearch,htmerge,Scope,ਭਾਸ਼ਾ,ਖੋਜ
Keywords[pl]=pomoc,HTML,szukaj,indeks,htdig,htsearch,htmerge,zakres,język
Keywords[pt]=Ajuda,HTML,Procura,Índice,htdig,htsearch,htmerge,Âmbito,Língua
Keywords[pt_BR]=Ajuda,HTML,Busca,Índice,htdig,htsearch,htmerge,escopo,idioma
Keywords[ro]=ajutor,HTML,căutare,index,htdig,htsearch,htmerge,domeniu,limbaj
Keywords[se]=veahkki,HTML,ohcan,indeaksa,indeksa,htdig,htmerge,gaska,giella
Keywords[sl]=Pomoč,HTML,iskanje,indeks,htdig,htsearch,htmerge,doseg,jezik
Keywords[sr]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,помоћ,претрага,индекс,језик,опсег
Keywords[sr@latin]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,pomoć,pretraga,indeks,jezik,opseg
Keywords[sv]=Hjälp,HTML,Sök,Index,htdig,htsearch,htmerge,Omfång,Språk
Keywords[ta]=உதவி,HTML,தேடு,பொருளடக்கம்,htdig,htதேடு,htகல,வரையெல்லை,மொழி
Keywords[te]=సహాయం,హెచ్ టి ఎంఎల్,అన్వెషణ, సూచిక, హెచ్ టి డిగ్,హెచ్ టి అన్వెషణ,హెచ్ టి కలుపు, లక్ష్యము, భాష.
Keywords[th]=ช่วยเหลือ,HTML,ค้นหา,ดัชนี,htdig,htsearch,htmerge,Scope,ภาษา
Keywords[tr]=Yardım,HTML,Ara,İndeks,htdig,htmerge,Dil
Keywords[uk]=довідка,HTML,пошук,індекс,htdig,контекст,мова,htsearch,htmerge
Keywords[uz]=Ёрдам,HTML,Қидириш,Индекс,htdig,htsearch,htmerge,Тил
Keywords[vi]=Trợ giúp,HTML,Tìm kiếm,chỉ mục,htdig,htsearch,htmerge,Phạm vi,Ngôn ngữ
Keywords[wa]=Aidance,HTML,cweri,cweraedje,indecse,htdig,htsearch,htmerge,såme,lingaedje
Keywords[x-test]=xxHelp,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Languagexx
Keywords[xh]=Uncedo,HTML,Phendla,Isalathiso,htdig,htsearch,htmerge,Scope,Ulwimi
Keywords[zh_CN]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,帮助,查找,索引,范围,语言
Keywords[zh_TW]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,求助,搜尋,索引,語言
