[Desktop Entry]
Exec=kcmshell4 htmlsearch
Icon=help_index
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/help-index.html

X-KDE-Library=kcm_htmlsearch
X-KDE-FactoryName=htmlsearch
X-KDE-ParentApp=kcontrol

Name=Index
Name[af]=Indeks
Name[ar]=الفهرس
Name[ast]=Índiz
Name[be]=Індэкс
Name[be@latin]=Źmiest
Name[bg]=Индекс
Name[bn]=সূচি
Name[bn_IN]=ইন্ডেক্স
Name[br]=Meneger
Name[ca]=Índex
Name[ca@valencia]=Índex
Name[cs]=Rejstřík
Name[csb]=Indeks
Name[cy]=Mynegai
Name[da]=Indeks
Name[de]=Stichwortverzeichnis
Name[el]=Ευρετήριο
Name[en_GB]=Index
Name[eo]=Indekso
Name[es]=Índice
Name[et]=Indeks
Name[eu]=Indizea
Name[fa]=نمایه
Name[fi]=Hakemisto
Name[fr]=Index
Name[fy]=Yndeks
Name[ga]=Innéacs
Name[gl]=Índice
Name[gu]=અનુક્રમણિકા
Name[he]=אינדקס
Name[hi]=निर्देशिका
Name[hne]=निर्देसिका
Name[hr]=Indeks
Name[hsb]=Indeks
Name[hu]=Keresési index
Name[ia]=Indice
Name[id]=Indeks
Name[is]=Yfirlit
Name[it]=Indice
Name[ja]=インデックス
Name[ka]=ინდექსი
Name[kk]=Индекс
Name[km]=លិបិក្រម
Name[kn]=ಅನುಕ್ರಮ (ಇಂಡೆಕ್ಸ್)
Name[ko]=찾아보기
Name[ku]=Pêrist
Name[lt]=Rodyklė
Name[lv]=Indekss
Name[mai]=सूची
Name[mk]=Индекс
Name[ml]=സൂചിക
Name[mr]=सूची
Name[ms]=Indeks
Name[nb]=Indeks
Name[nds]=Index
Name[ne]=अनुक्रमणिका
Name[nl]=Index
Name[nn]=Indeks
Name[oc]=Indèx
Name[or]=ଅନୁକ୍ରମଣିକା
Name[pa]=ਇੰਡੈਕਸ
Name[pl]=Indeks
Name[pt]=Índice
Name[pt_BR]=Índice
Name[ro]=Index
Name[ru]=Индекс
Name[se]=Indeaksa
Name[si]=පටුන
Name[sk]=Index
Name[sl]=Kazalo
Name[sr]=Индекс
Name[sr@ijekavian]=Индекс
Name[sr@ijekavianlatin]=Indeks
Name[sr@latin]=Indeks
Name[sv]=Index
Name[ta]=பொருளடக்கம்
Name[te]=సూచిక
Name[tg]=Индекс
Name[th]=ดัชนี
Name[tr]=İndeks
Name[ug]=مۇندەرىجە
Name[uk]=Індекс
Name[uz]=Indeks
Name[uz@cyrillic]=Индекс
Name[vi]=chỉ mục
Name[wa]=Indecse
Name[xh]=Isalathiso
Name[x-test]=xxIndexxx
Name[zh_CN]=索引
Name[zh_TW]=索引

Comment=Index generation
Comment[af]=Indeks genereering
Comment[ar]=توليد الفهرس
Comment[ast]=Xeneración del índiz
Comment[be]=Стварэнне індэксу
Comment[be@latin]=Stvareńnie źmiestu
Comment[bg]=Създаване на индекс
Comment[bn]=সূচি উত্‍পাদন
Comment[bn_IN]=ইন্ডেক্স নির্মাণ প্রণালী
Comment[br]=Genel ar meneger
Comment[ca]=Generació de l'índex
Comment[ca@valencia]=Generació de l'índex
Comment[cs]=Vytvoření rejstříku
Comment[csb]=Generowanié indeksu
Comment[cy]=Cynhyrchu mynegai
Comment[da]=Indeksgenerering
Comment[de]=Erstellung des Stichwortverzeichnisses
Comment[el]=Δημιουργία περιεχομένων
Comment[en_GB]=Index generation
Comment[eo]=Indeksa generado
Comment[es]=Generación del índice
Comment[et]=Indeksi loomine
Comment[eu]=Indizea sortu
Comment[fa]=تولید نمایه
Comment[fi]=Hakemiston luonti
Comment[fr]=Génération d'index
Comment[fy]=Yndeksgeneraasje
Comment[ga]=Giniúint innéacs
Comment[gl]=Xeración do índice
Comment[gu]=અનુક્રમણિકા બનાવટ
Comment[he]=יצירת אינדקס
Comment[hi]=सूची बनाएँ
Comment[hne]=सूची बनाव
Comment[hr]=Generiranje indeksa
Comment[hsb]=Stworjenje indeksa
Comment[hu]=Index létrehozása
Comment[ia]=Generation de indice
Comment[id]=Pembuatan indeks
Comment[is]=Yfirlitsgerð
Comment[it]=Generazione dell'indice
Comment[ja]=インデックスを生成
Comment[ka]=ინდექსის შექმნა
Comment[kk]=Индексті құру
Comment[km]=ការ​បង្កើត​លិបិក្រម
Comment[kn]=ಅನುಕ್ರಮ (ಇಂಡೆಕ್ಸ್) ಉತ್ಪತ್ತಿ
Comment[ko]=찾아보기 생성
Comment[ku]=Afirandina pêristê
Comment[lt]=Rodyklės generavimas
Comment[lv]=Indeksa ģenerēšana
Comment[mai]=सूची बनाबू
Comment[mk]=Генерирање на индекс
Comment[ml]=സൂചികാനിര്‍മ്മാണം
Comment[mr]=सूची बनवा
Comment[ms]=Penjanaan indeks
Comment[nb]=Lag innholdsregister
Comment[nds]=Index maken
Comment[ne]=अनुक्रमणिका सिर्जना
Comment[nl]=Indexgeneratie
Comment[nn]=Indekslaging
Comment[or]=ଅନୁକ୍ରମଣିକା ସୃଷ୍ଟି
Comment[pa]=ਇੰਡੈਕਸ ਬਣਾਓ
Comment[pl]=Generowanie indeksu
Comment[pt]=Geração de índices
Comment[pt_BR]=Geração de índice
Comment[ro]=Generează indexul
Comment[ru]=Создание индекса
Comment[se]=Indeaksaráhkadeapmi
Comment[si]=පටුන ජනණය
Comment[sk]=Generovanie indexu
Comment[sl]=Ustvarjanje kazala
Comment[sr]=Стварање индекса
Comment[sr@ijekavian]=Стварање индекса
Comment[sr@ijekavianlatin]=Stvaranje indeksa
Comment[sr@latin]=Stvaranje indeksa
Comment[sv]=Indexskapare
Comment[ta]=பொருளடக்க இயக்கம்
Comment[te]=సూచిక ను తయారుచెయుట
Comment[tg]=Эҷоди индекс
Comment[th]=สร้างดัชนี
Comment[tr]=İndeks oluşturma
Comment[uk]=Створення індексу
Comment[uz]=Indeksni yaratish
Comment[uz@cyrillic]=Индексни яратиш
Comment[vi]=Tạo ra chỉ mục
Comment[wa]=Fijhaedje d' indecse
Comment[xh]=Ulwenziwo Lwesalathiso
Comment[x-test]=xxIndex generationxx
Comment[zh_CN]=索引生成
Comment[zh_TW]=產生索引

X-KDE-Keywords=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language
X-KDE-Keywords[be]=Дапамога,Даведка,Пошук,Індэкс,Мова,Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language
X-KDE-Keywords[bg]=Keywords=помощ, индекс, търсене, обхват, език, Help, HTML, Search, Index, htdig, htsearch, htmerge, Scope, Language
X-KDE-Keywords[ca]=Ajuda,HTML,Cerca,Índex,htdig,htsearch,htmerge,Scope,Llengua
X-KDE-Keywords[cs]=Nápověda,HTML,Hledat,Index,htdig,htsearch,htmerge,Rejstřík,Jazyk,Rozsah
X-KDE-Keywords[csb]=pòmòc,HTML,szëkôj,szëkba,indeks,htdig,htsearch,htmerge,òbjim,jãzëk
X-KDE-Keywords[cy]=Cymorth,HTML,Chwilio,Mynegai,htdig,htsearch,htmerge,Amrediad,Iaith
X-KDE-Keywords[da]=Hjælp,HTML,Søg,Indeks,htdig,htsearch,htmerge,Scope,Sprog
X-KDE-Keywords[de]=Hilfe,HTML,Suche,Index,Stichwortverzeichnis,htdig,Sprachen
X-KDE-Keywords[el]=Βοήθεια,HTML,Αναζήτηση,Ευρετήριο,htdig,htsearch,htmerge,Scope,Γλώσσα
X-KDE-Keywords[eo]=helpo,HTML,serĉo,indekso,htdig,htsearch,htmerge,areo,lingvo
X-KDE-Keywords[es]=Ayuda,HTML,Búsqueda,Índice,htdig,htsearch,htmerge,Ámbito,Idioma
X-KDE-Keywords[et]=abi,HTML,otsing,indeks,htdig,htsearch,htmerge,skoop,keel
X-KDE-Keywords[eu]=Laguntza,HTML,Bilatu,Indizea,htdig,htsearch,htmerge,Scope,Hizkuntza
X-KDE-Keywords[fa]=کمک، زنگام، جستجو، نمایه، htdig، htsearch، htmerge، دامنه، زبان
X-KDE-Keywords[fi]=Ohje,HTML,Etsi,Indeksi,htdig,htsearch,htmerge,Kieli
X-KDE-Keywords[fr]=aide,HTML,recherche,index,htdig,htsearch,htmerge,pays,langue
X-KDE-Keywords[fy]=help,html,zoeken,sykje,yndeks,htdig,htsearch,htmerge,scope,taal
X-KDE-Keywords[ga]=Cabhair,HTML,Cuardach,Innéacs,htdig,htsearch,htmerge,Scóip,Teanga
X-KDE-Keywords[gl]=Axuda,HTML,Procura,Índice,htdig,htsearch,htmerge,Scope,Lingua
X-KDE-Keywords[he]=עזרה,HTML,חיפוש,אינדקס,htdig,htsearch,htmerge,טווח,שפה,Help,Search,Index,htdig,htsearch,htmerge,Scope,Language
X-KDE-Keywords[hr]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,Pomoć,Pretraživanje,Traži,Pretraga,Indeks,Opseg,Raspon,Jezik
X-KDE-Keywords[hu]=segítség,HTML,keresés,index,htdig,htsearch,htmerge,érvényességi kör,nyelv
X-KDE-Keywords[is]=Hjálp,HTML,leit,yfirlit,htdig,svæði,tungumál
X-KDE-Keywords[it]=aiuto,HTML,cerca,indice,htdig,htsearch,htmerge,scope,lingua
X-KDE-Keywords[ja]=ヘルプ,HTML,検索,インデックス,htdig,htsearch,htmerge,スコープ,言語
X-KDE-Keywords[km]=ជំនួយ HTML ស្វែងរក លិបិក្រម htdig htsearch htmerge វិសាលភាព ភាសា
X-KDE-Keywords[ko]=도움말,HTML,검색,찾아보기,htdig,htsearch,htmerge,언어
X-KDE-Keywords[lt]=Pagalba,HTML,Paieška,Sąrašas,htdig,htsearch,htmerge,Sritis,Kalba
X-KDE-Keywords[lv]=Palīdzība,HTML,Meklēt,Indekss,htdig,htsearch,htmerge,Mērķis,Valoda
X-KDE-Keywords[mk]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language, Помош,Пребарувај,Индекс,Опфат,Јазик
X-KDE-Keywords[nb]=Hjelp,HTML,Søk,Indeks,htdig,htsearch,htmerge,språk
X-KDE-Keywords[nds]=Hülp,HTML,Söken,Index,htdig,htsearch,htmerge,Scope,Spraak
X-KDE-Keywords[ne]=मद्दत,HTML, खोजी, अनुक्रमणिका,htdig,htsearch,htmerge, क्षेत्र, भाषा
X-KDE-Keywords[nl]=help,html,zoeken,index,htdig,htsearch,htmerge,scope,taal
X-KDE-Keywords[nn]=hjelp,HTML,søk,indeks,htdig,htmerge,område,språk
X-KDE-Keywords[pa]=ਮੱਦਦ,HTML,Index,htdig,htsearch,htmerge,Scope,ਭਾਸ਼ਾ,ਖੋਜ
X-KDE-Keywords[pl]=pomoc,HTML,szukaj,indeks,htdig,htsearch,htmerge,zakres,język
X-KDE-Keywords[pt]=Ajuda,HTML,Procura,Índice,htdig,htsearch,htmerge,Âmbito,Língua
X-KDE-Keywords[pt_BR]=Ajuda,HTML,Busca,Índice,htdig,htsearch,htmerge,escopo,idioma
X-KDE-Keywords[ro]=ajutor,HTML,căutare,index,htdig,htsearch,htmerge,domeniu,limbaj
X-KDE-Keywords[se]=veahkki,HTML,ohcan,indeaksa,indeksa,htdig,htmerge,gaska,giella
X-KDE-Keywords[sl]=Pomoč,HTML,iskanje,indeks,htdig,htsearch,htmerge,doseg,jezik
X-KDE-Keywords[sr]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,помоћ,претрага,индекс,језик,опсег
X-KDE-Keywords[sr@latin]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,pomoć,pretraga,indeks,jezik,opseg
X-KDE-Keywords[sv]=Hjälp,HTML,Sök,Index,htdig,htsearch,htmerge,Omfång,Språk
X-KDE-Keywords[ta]=உதவி,HTML,தேடு,பொருளடக்கம்,htdig,htதேடு,htகல,வரையெல்லை,மொழி
X-KDE-Keywords[te]=సహాయం,హెచ్ టి ఎంఎల్,అన్వెషణ, సూచిక, హెచ్ టి డిగ్,హెచ్ టి అన్వెషణ,హెచ్ టి కలుపు, లక్ష్యము, భాష.
X-KDE-Keywords[th]=ช่วยเหลือ,HTML,ค้นหา,ดัชนี,htdig,htsearch,htmerge,Scope,ภาษา
X-KDE-Keywords[tr]=Yardım,HTML,Ara,İndeks,htdig,htmerge,Dil
X-KDE-Keywords[uk]=довідка,HTML,пошук,індекс,htdig,контекст,мова,htsearch,htmerge
X-KDE-Keywords[uz]=Ёрдам,HTML,Қидириш,Индекс,htdig,htsearch,htmerge,Тил
X-KDE-Keywords[vi]=Trợ giúp,HTML,Tìm kiếm,chỉ mục,htdig,htsearch,htmerge,Phạm vi,Ngôn ngữ
X-KDE-Keywords[wa]=Aidance,HTML,cweri,cweraedje,indecse,htdig,htsearch,htmerge,såme,lingaedje
X-KDE-Keywords[x-test]=xxHelp,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Languagexx
X-KDE-Keywords[xh]=Uncedo,HTML,Phendla,Isalathiso,htdig,htsearch,htmerge,Scope,Ulwimi
X-KDE-Keywords[zh_CN]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,帮助,查找,索引,范围,语言
X-KDE-Keywords[zh_TW]=Help,HTML,Search,Index,htdig,htsearch,htmerge,Scope,Language,求助,搜尋,索引,語言
