[Desktop Entry]

DocumentTypes=text/docbook

SearchCommand=khc_htsearch.pl --docbook --indexdir=%d --config=%i --words=%w --method=%o --maxnum=%m --lang=en
IndexCommand=khc_docbookdig.pl --indexdir=%d --docpath=%p --identifier=%i
